In [1]:
import pandas as pd
import warnings
import re
import tables
warnings.filterwarnings('ignore')

# Lendo planilhas

In [2]:
df_animais_sem_id = pd.read_hdf('df_animais_sem_id.h5', key='df')
df_genealogia_embrapa = pd.read_hdf('df_genealogia_embrapa.h5', key='df')
pedigree = pd.read_csv("pedrigree - Girolando - 17-02-2023.txt", encoding='ISO-8859-1')

# Imprimindo dataframes

In [3]:
df_animais_sem_id = df_animais_sem_id.drop_duplicates()
df_animais_sem_id = df_animais_sem_id.drop(columns='id_produto_x')
df_animais_sem_id = df_animais_sem_id.drop(columns='id_produto_y')
df_animais_sem_id

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,ordem,gs,sexo,cod_prod,cod_pai,cod_mae,reb,id_produto,nome10caracteres,AN
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,NaN,5,F,NaN,NaN,NaN,1291,NaN,NANAIMPERA,2015
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,NaN,4,F,NaN,NaN,9513273.0,10639-GIRO,NaN,LANAAFIV,2014
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,NaN,4,F,NaN,4320031.0,NaN,NaN,NaN,EDILAINEIM,2013
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,NaN,4,F,NaN,NaN,10621711.0,37634-ABCZ,NaN,ARMAMERIDI,2015
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,NaN,4,F,NaN,3540404.0,NaN,NaN,NaN,CELESTE136,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,NaN,4,F,NaN,NaN,11428022.0,37634-ABCZ,NaN,JPZQUIRERA,2014
576,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,NaN,4,F,NaN,NaN,12866148.0,31300-ABCZ,NaN,DALIAIFIV,2017
577,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,NaN,6,F,NaN,NaN,NaN,31835-ABCZ,NaN,QUINTAICO,2015
578,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,NaN,5,F,NaN,NaN,NaN,27729-ABCZ,NaN,LIADASARA,2019
579,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,NaN,5,F,NaN,NaN,NaN,31365-ABCZ,NaN,GERMANAFEB,2016

# Criando dataframe df_animais_sem_id_completo pela juncao do df_animais_sem_id com pedigree
Obs: Mantendo somente o primeiro registro dos animais com IDANIMAL duplicados

In [4]:
df_animais_sem_id_completo = pd.merge(df_animais_sem_id, pedigree, on=['IDANIMAL'], how='left', indicator=True, suffixes=('','_drop'))
df_animais_sem_id_completo = df_animais_sem_id_completo.drop(df_animais_sem_id_completo.filter(regex='_drop$').columns, axis=1)
df_animais_sem_id_completo = df_animais_sem_id_completo[df_animais_sem_id_completo['_merge']=='both']
df_animais_sem_id_completo = df_animais_sem_id_completo.drop_duplicates(subset='IDANIMAL')
df_animais_sem_id_completo

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,nome10caracteres,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,_merge
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,NANAIMPERA,2015,NANA IMPERADOR BAXTER RF SAO FRANCISCO,11/03/2015,F,IMPERADOR BAXTER VOLTA FRIA,JURITI HERBY RF SAO FRANCISCO,5/8HOL 3/8GIR,666,both
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,LANAAFIV,2014,LANCA FIV AFTERSHOCK BON.BELEM,22/12/2014,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519,both
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,EDILAINEIM,2013,EDILAINE IMPERIO FIV 4303 JARDIM DO TURVO,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519,both
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,ARMAMERIDI,2015,ARMA MERIDIAN DA MBL,27/04/2015,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519,both
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,CELESTE136,2016,CELESTE 136 TEATRO FIV COOPERRITA,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,JPZQUIRERA,2014,JPZ QUIRERA SHAMROCK ASTER FIV,18/02/2014,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519,both
563,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,DALIAIFIV,2017,DALIA I FIV BRADLEY JM NOVO HORIZONTE,19/08/2017,F,ROCKALLI BRADLEY,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519,both
564,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,QUINTAICO,2015,QUINTA I COLE AGM TRIUNFO,25/04/2015,F,CO-OP TOYSTORY COLE-ET,QUINTA FIV M,3/4HOL 1/4GIR,795,both
565,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,LIADASARA,2019,LIA DAS ARABIAS,13/06/2019,F,TURBO DAS ARABIAS,LILIKA DAS ARABIAS,5/8HOL 3/8GIR,666,both
566,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,GERMANAFEB,2016,GERMANA FEBO FR RECREIO,16/07/2016,F,FEBO FR RECREIO,CAMPANHA FR RECREIO,5/8HOL 3/8GIR,666,both

# Criando id_produto dos animais que não possuem id_produto
obs: id_produto = giro+IDANIMAL

In [5]:
df_animais_sem_id_completo['id_produto'] = df_animais_sem_id_completo['id_produto'].fillna('GIRO' + df_animais_sem_id_completo['IDANIMAL'].astype(str))
df_animais_sem_id_completo = df_animais_sem_id_completo.drop(columns='_merge')
df_animais_sem_id_completo

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,id_produto,nome10caracteres,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,GIRO1631099,NANAIMPERA,2015,NANA IMPERADOR BAXTER RF SAO FRANCISCO,11/03/2015,F,IMPERADOR BAXTER VOLTA FRIA,JURITI HERBY RF SAO FRANCISCO,5/8HOL 3/8GIR,666
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,GIRO1588703,LANAAFIV,2014,LANCA FIV AFTERSHOCK BON.BELEM,22/12/2014,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,GIRO1682574,EDILAINEIM,2013,EDILAINE IMPERIO FIV 4303 JARDIM DO TURVO,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,GIRO1631612,ARMAMERIDI,2015,ARMA MERIDIAN DA MBL,27/04/2015,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,GIRO1852888,CELESTE136,2016,CELESTE 136 TEATRO FIV COOPERRITA,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,GIRO1454976,JPZQUIRERA,2014,JPZ QUIRERA SHAMROCK ASTER FIV,18/02/2014,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519
563,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,GIRO2018776,DALIAIFIV,2017,DALIA I FIV BRADLEY JM NOVO HORIZONTE,19/08/2017,F,ROCKALLI BRADLEY,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519
564,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,GIRO1645334,QUINTAICO,2015,QUINTA I COLE AGM TRIUNFO,25/04/2015,F,CO-OP TOYSTORY COLE-ET,QUINTA FIV M,3/4HOL 1/4GIR,795
565,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,GIRO2647996,LIADASARA,2019,LIA DAS ARABIAS,13/06/2019,F,TURBO DAS ARABIAS,LILIKA DAS ARABIAS,5/8HOL 3/8GIR,666
566,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,GIRO1838611,GERMANAFEB,2016,GERMANA FEBO FR RECREIO,16/07/2016,F,FEBO FR RECREIO,CAMPANHA FR RECREIO,5/8HOL 3/8GIR,666

# Juntando df_animais_sem_id_completo (idpai) com genealogia_embrapa (idanimal) tabela separada para pedigree

In [6]:
df_animais_sem_id_completo = pd.merge(df_animais_sem_id_completo, df_genealogia_embrapa[['id_produto', 'IDANIMAL']],left_on=['IDPAI'], how='left', right_on=['IDANIMAL'], suffixes=('', '_drop'))
df_animais_sem_id_completo = df_animais_sem_id_completo.drop_duplicates()
df_animais_sem_id_completo

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,id_produto_drop,IDANIMAL_drop
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,2015,NANA IMPERADOR BAXTER RF SAO FRANCISCO,11/03/2015,F,IMPERADOR BAXTER VOLTA FRIA,JURITI HERBY RF SAO FRANCISCO,5/8HOL 3/8GIR,666,GIRO977401,977401.0
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,2014,LANCA FIV AFTERSHOCK BON.BELEM,22/12/2014,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519,207142,1086106.0
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,2013,EDILAINE IMPERIO FIV 4303 JARDIM DO TURVO,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519,RIG163,732888.0
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,2015,ARMA MERIDIAN DA MBL,27/04/2015,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519,GIRO1369768,1369768.0
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,2016,CELESTE 136 TEATRO FIV COOPERRITA,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519,EFC383,5024.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,2014,JPZ QUIRERA SHAMROCK ASTER FIV,18/02/2014,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519,207140,1203663.0
554,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,2017,DALIA I FIV BRADLEY JM NOVO HORIZONTE,19/08/2017,F,ROCKALLI BRADLEY,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519,210342,759942.0
555,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,2015,QUINTA I COLE AGM TRIUNFO,25/04/2015,F,CO-OP TOYSTORY COLE-ET,QUINTA FIV M,3/4HOL 1/4GIR,795,NaN,NaN
556,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,2019,LIA DAS ARABIAS,13/06/2019,F,TURBO DAS ARABIAS,LILIKA DAS ARABIAS,5/8HOL 3/8GIR,666,GIRO1155542,1155542.0
557,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,2016,GERMANA FEBO FR RECREIO,16/07/2016,F,FEBO FR RECREIO,CAMPANHA FR RECREIO,5/8HOL 3/8GIR,666,GIRO1114289,1114289.0

# Juntando df_animais_sem_id_completo (idmae) com genealogia_embrapa (idanimal)

In [7]:
df_animais_sem_id_completo = pd.merge(df_animais_sem_id_completo, df_genealogia_embrapa[['id_produto', 'IDANIMAL']],left_on=['IDMAE'], how='left', right_on=['IDANIMAL'], suffixes=('', '_tes'))
df_animais_sem_id_completo = df_animais_sem_id_completo.drop_duplicates()
df_animais_sem_id_completo

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,id_produto_drop,IDANIMAL_drop,id_produto_tes,IDANIMAL_tes
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,11/03/2015,F,IMPERADOR BAXTER VOLTA FRIA,JURITI HERBY RF SAO FRANCISCO,5/8HOL 3/8GIR,666,GIRO977401,977401.0,NaN,NaN
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,22/12/2014,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519,207142,1086106.0,NaN,NaN
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519,RIG163,732888.0,NaN,NaN
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,27/04/2015,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519,GIRO1369768,1369768.0,JNR167,1504169.0
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519,EFC383,5024.0,GIRO1086826,1086826.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,18/02/2014,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519,207140,1203663.0,NaN,NaN
555,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,19/08/2017,F,ROCKALLI BRADLEY,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519,210342,759942.0,JMCH76,1457010.0
556,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,25/04/2015,F,CO-OP TOYSTORY COLE-ET,QUINTA FIV M,3/4HOL 1/4GIR,795,NaN,NaN,GIRO1323923,1323923.0
557,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,13/06/2019,F,TURBO DAS ARABIAS,LILIKA DAS ARABIAS,5/8HOL 3/8GIR,666,GIRO1155542,1155542.0,NaN,NaN
558,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,16/07/2016,F,FEBO FR RECREIO,CAMPANHA FR RECREIO,5/8HOL 3/8GIR,666,GIRO1114289,1114289.0,NaN,NaN

# Adicionando coluna IDTOURO e IDVACA no df_animais_sem_id_completo

In [8]:
df_animais_sem_id_completo = df_animais_sem_id_completo.rename(columns={'id_produto_drop':'id_touro'})
df_animais_sem_id_completo = df_animais_sem_id_completo.rename(columns={'id_produto_tes':'id_vaca'})
df_animais_sem_id_completo = df_animais_sem_id_completo.drop(columns='IDANIMAL_drop')
df_animais_sem_id_completo = df_animais_sem_id_completo.drop(columns='IDANIMAL_tes')
df_animais_sem_id_completo

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,2015,NANA IMPERADOR BAXTER RF SAO FRANCISCO,11/03/2015,F,IMPERADOR BAXTER VOLTA FRIA,JURITI HERBY RF SAO FRANCISCO,5/8HOL 3/8GIR,666,GIRO977401,NaN
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,2014,LANCA FIV AFTERSHOCK BON.BELEM,22/12/2014,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519,207142,NaN
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,2013,EDILAINE IMPERIO FIV 4303 JARDIM DO TURVO,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519,RIG163,NaN
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,2015,ARMA MERIDIAN DA MBL,27/04/2015,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519,GIRO1369768,JNR167
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,2016,CELESTE 136 TEATRO FIV COOPERRITA,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519,EFC383,GIRO1086826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,2014,JPZ QUIRERA SHAMROCK ASTER FIV,18/02/2014,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519,207140,NaN
555,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,2017,DALIA I FIV BRADLEY JM NOVO HORIZONTE,19/08/2017,F,ROCKALLI BRADLEY,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519,210342,JMCH76
556,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,2015,QUINTA I COLE AGM TRIUNFO,25/04/2015,F,CO-OP TOYSTORY COLE-ET,QUINTA FIV M,3/4HOL 1/4GIR,795,NaN,GIRO1323923
557,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,2019,LIA DAS ARABIAS,13/06/2019,F,TURBO DAS ARABIAS,LILIKA DAS ARABIAS,5/8HOL 3/8GIR,666,GIRO1155542,NaN
558,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,2016,GERMANA FEBO FR RECREIO,16/07/2016,F,FEBO FR RECREIO,CAMPANHA FR RECREIO,5/8HOL 3/8GIR,666,GIRO1114289,NaN

# Buscando o id_touro pelo cod_pai na genealogia_embrapa

In [9]:
df_id_touro = pd.merge(df_animais_sem_id_completo, df_genealogia_embrapa[['id_produto', 'cod_prod']], left_on=['cod_pai'], right_on=['cod_prod'], suffixes=('', '_drop'))
df_id_touro

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA,id_produto_drop,cod_prod_drop
0,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519,RIG163,NaN,RIG163,4320031
1,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519,EFC383,GIRO1086826,EFC383,3540404
2,3304,LAIZ TEATRO FIV ORIENTAL,12,4367-AS,TEATRO DA SILVANIA,11,EFC383,TUKINHA ALPA LEE-FIV,10,BX416793,...,22/04/2016,F,TEATRO DA SILVANIA,TUKINHA ALPA LEE-FIV,1/2HOL 1/2GIR,519,EFC383,NaN,EFC383,3540404
3,11818,TANDARA TEATRO 1452 BARAO DA B,12,1091-BF,TEATRO DA SILVANIA,11,EFC383,BARAO D'BOCAINA TINA TOYSTORY,10,HBB/B-496454,...,11/05/2018,F,TEATRO DA SILVANIA,BARAO D'BOCAINA TINA TOYSTORY,1/2HOL 1/2GIR,519,EFC383,NaN,EFC383,3540404
4,8689,ABDALLA TEATRO OASIS DA DIVISA,12,7293-BJ,TEATRO DA SILVANIA,11,EFC383,OASIS DA DIVISA ATINA ELEGANCE,10,BX468447,...,11/06/2017,F,TEATRO DA SILVANIA,OASIS DA DIVISA ATINA ELEGANCE,1/2HOL 1/2GIR,519,EFC383,GIRO1533093,EFC383,3540404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155,2381,GENIAL TPGL1889 JM NOVO HORIZO,38,2833-BF,KAREL FIV DA SALOBO,11,ABP1685,DUCHA BOLDWIN JM NOVO HORIZONT,34,4386-AN,...,31/05/2018,F,KAREL FIV DA SALOBO,DUCHA BOLDWIN JM NOVO HORIZONT,3/8HOL 5/8GIR,417,NaN,NaN,ABP1685,12296894
156,9414,CETONA DA FRONTEIRA,14,4886-BW,PH DESTINO,11,PHPO456,ULTRA CANADA AFTERSHOCK FIV,12,2474-AH,...,14/11/2018,F,PH DESTINO,ULTRA CANADA AFTERSHOCK FIV,1/4HOL 3/4GIR,315,PHPO456,NaN,PHPO456,10323412
157,5569,DEMY CONAN MAO DA ANGOLINHA,14,4804-BE,CONAN ALBOS,11,SJTG93,SHRTC BAGDA 69 UERICA FARDO,12,4161-Z,...,25/07/2018,F,CONAN ALBOS,SHRTC BAGDA 69 UERICA FARDO,1/4HOL 3/4GIR,315,SJTG93,GIRO1322566,SJTG93,13454046
158,5678,GBEZ 6056 GOMEATINGA,14,4255-AS,MILIONARIO SILVANIA,11,EFC1430,GBEZ 3176 GOMEATINGA,12,7419-AH,...,24/10/2016,F,MILIONARIO SILVANIA,GBEZ 3176 GOMEATINGA,1/4HOL 3/4GIR,315,EFC1430,GIRO1446801,EFC1430,12110796
159,9000,GALEGA GALEGO DA COLI,14,8985-AN,GALEGO FIV F. MUTUM,11,MUT899,BOLIVIA ARMSTEAD DA COLI,12,4041-U,...,20/05/2014,F,GALEGO FIV F. MUTUM,BOLIVIA ARMSTEAD DA COLI,1/4HOL 3/4GIR,315,NaN,NaN,MUT899,9459679

# Adicionando o id_touro no dataframe com todas as colunas pelo id_animal

In [10]:
df_animais_sem_id_completo = pd.merge(df_animais_sem_id_completo, df_id_touro[['IDANIMAL','id_produto_drop']], on=['IDANIMAL'], how='left')
df_animais_sem_id_completo = df_animais_sem_id_completo.drop_duplicates()
df_animais_sem_id_completo['IDTOURO'].fillna(df_animais_sem_id_completo['id_produto_drop'], inplace=True)
df_animais_sem_id_completo = df_animais_sem_id_completo.drop(columns='id_produto_drop')
df_animais_sem_id_completo

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,2015,NANA IMPERADOR BAXTER RF SAO FRANCISCO,11/03/2015,F,IMPERADOR BAXTER VOLTA FRIA,JURITI HERBY RF SAO FRANCISCO,5/8HOL 3/8GIR,666,GIRO977401,NaN
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,2014,LANCA FIV AFTERSHOCK BON.BELEM,22/12/2014,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519,207142,NaN
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,2013,EDILAINE IMPERIO FIV 4303 JARDIM DO TURVO,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519,RIG163,NaN
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,2015,ARMA MERIDIAN DA MBL,27/04/2015,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519,GIRO1369768,JNR167
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,2016,CELESTE 136 TEATRO FIV COOPERRITA,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519,EFC383,GIRO1086826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,2014,JPZ QUIRERA SHAMROCK ASTER FIV,18/02/2014,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519,207140,NaN
555,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,2017,DALIA I FIV BRADLEY JM NOVO HORIZONTE,19/08/2017,F,ROCKALLI BRADLEY,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519,210342,JMCH76
556,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,2015,QUINTA I COLE AGM TRIUNFO,25/04/2015,F,CO-OP TOYSTORY COLE-ET,QUINTA FIV M,3/4HOL 1/4GIR,795,NaN,GIRO1323923
557,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,2019,LIA DAS ARABIAS,13/06/2019,F,TURBO DAS ARABIAS,LILIKA DAS ARABIAS,5/8HOL 3/8GIR,666,GIRO1155542,NaN
558,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,2016,GERMANA FEBO FR RECREIO,16/07/2016,F,FEBO FR RECREIO,CAMPANHA FR RECREIO,5/8HOL 3/8GIR,666,GIRO1114289,NaN

# Buscando o id_vaca pelo cod_vaca na genealogia_embrapa

In [11]:
df_id_vaca = pd.merge(df_animais_sem_id_completo, df_genealogia_embrapa[['id_produto', 'cod_prod']], left_on=['cod_mae'], right_on=['cod_prod'], indicator=True, suffixes=('', '_drop'))
df_id_vaca

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA,id_produto_drop,cod_prod_drop,_merge
0,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519,207142,NaN,ACFG1840,9513273,both
1,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519,GIRO1369768,JNR167,JNR167,10621711,both
2,83436,PURA FIV DOORMAN SJ LALU,12,2678-BK,VAL-BISSON DOORMAN,10,AX140558,KANETA DP,11,DPJ955,...,F,VAL-BISSON DOORMAN,KANETA DP,1/2HOL 1/2GIR,519,GIRO1407888,DPJ955,DPJ955,12718455,both
3,83436,PALMIRA FIV BRYANT SJ LALU,12,2669-BK,WA-DEL BRYANT-ET,10,AX143718,KANETA DP,11,DPJ955,...,F,WA-DEL BRYANT-ET,KANETA DP,1/2HOL 1/2GIR,519,GIRO1545610,DPJ955,DPJ955,12718455,both
4,83436,PANDORA FIV DOORMAN SJ LALU,12,2660-BK,VAL-BISSON DOORMAN,10,AX140558,KANETA DP,11,DPJ955,...,F,VAL-BISSON DOORMAN,KANETA DP,1/2HOL 1/2GIR,519,GIRO1407888,DPJ955,DPJ955,12718455,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,9414,ULTRA GANGUE GILLESPY FIV,12,4887-BW,DE-SU GILLESPY-ET,10,AX138026,ULTRA DARA JAGUAR FIV,11,UTRG9,...,F,DE-SU GILLESPY-ET,ULTRA DARA JAGUAR FIV,1/2HOL 1/2GIR,519,211639,NaN,UTRG9,15225065,both
145,3717,MACIEIRA FIV VISTA ALEGRE,12,5569-BB,SEAGULL-BAY SUPERSIRE-ET,10,AX139812,ALBA COCHO D'AGUA,11,LMT15,...,F,SEAGULL-BAY SUPERSIRE-ET,ALBA COCHO D'AGUA,1/2HOL 1/2GIR,519,211627,LMT15,LMT15,8745168,both
146,11818,FABULOSA FIV BRADNICK DA JJPZ,12,3852-BN,REGANCREST-GV S BRADNICK- ET,10,AX134761,FABIA FIV,11,UDI823,...,F,REGANCREST-GV S BRADNICK- ET,FABIA FIV,1/2HOL 1/2GIR,519,211886,UDI823,UDI823,13327464,both
147,2381,ESTIVA QUIZAR JM NOVO HORIZONT,12,9958-AS,COLLEM FEVER QUIZAR,10,AX134708,SC MANCHETE PALADINO,11,MJJS411,...,F,COLLEM FEVER QUIZAR,SC MANCHETE PALADINO,1/2HOL 1/2GIR,519,GIRO1481509,NaN,MJJS411,4220695,both
148,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519,207140,NaN,JPZ64,11428022,both

# Adicionando id_vaca no dataframe com todas as colunas

In [12]:
df_animais_sem_id_completo = pd.merge(df_animais_sem_id_completo, df_id_vaca[['IDANIMAL','id_produto_drop']], on=['IDANIMAL'], how='left')
df_animais_sem_id_completo = df_animais_sem_id_completo.drop_duplicates()
df_animais_sem_id_completo['IDVACA'].fillna(df_animais_sem_id_completo['id_produto_drop'], inplace=True)
df_animais_sem_id_completo = df_animais_sem_id_completo.drop(columns='id_produto_drop')
df_animais_sem_id_completo

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,2015,NANA IMPERADOR BAXTER RF SAO FRANCISCO,11/03/2015,F,IMPERADOR BAXTER VOLTA FRIA,JURITI HERBY RF SAO FRANCISCO,5/8HOL 3/8GIR,666,GIRO977401,NaN
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,2014,LANCA FIV AFTERSHOCK BON.BELEM,22/12/2014,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519,207142,ACFG1840
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,2013,EDILAINE IMPERIO FIV 4303 JARDIM DO TURVO,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519,RIG163,NaN
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,2015,ARMA MERIDIAN DA MBL,27/04/2015,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519,GIRO1369768,JNR167
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,2016,CELESTE 136 TEATRO FIV COOPERRITA,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519,EFC383,GIRO1086826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,2014,JPZ QUIRERA SHAMROCK ASTER FIV,18/02/2014,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519,207140,JPZ64
555,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,2017,DALIA I FIV BRADLEY JM NOVO HORIZONTE,19/08/2017,F,ROCKALLI BRADLEY,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519,210342,JMCH76
556,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,2015,QUINTA I COLE AGM TRIUNFO,25/04/2015,F,CO-OP TOYSTORY COLE-ET,QUINTA FIV M,3/4HOL 1/4GIR,795,NaN,GIRO1323923
557,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,2019,LIA DAS ARABIAS,13/06/2019,F,TURBO DAS ARABIAS,LILIKA DAS ARABIAS,5/8HOL 3/8GIR,666,GIRO1155542,NaN
558,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,2016,GERMANA FEBO FR RECREIO,16/07/2016,F,FEBO FR RECREIO,CAMPANHA FR RECREIO,5/8HOL 3/8GIR,666,GIRO1114289,NaN

# Pegando o id_produto que vira id_touro dos touros_gir na genealogia embrapa, em que o registro comeca com 3 letras

In [13]:
# somente gs_pai=11 e gs = 0 na genealogia
df_sub_tabela_gir = df_animais_sem_id_completo[df_animais_sem_id_completo['GSPAI']==11]
df_sub_tabela_gir = df_sub_tabela_gir[df_sub_tabela_gir['RGPAI'].apply(lambda x: bool(re.match(r'^[a-zA-Z]{3}', x)))]
df_sub_tabela_gir

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,2013,EDILAINE IMPERIO FIV 4303 JARDIM DO TURVO,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519,RIG163,NaN
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,2016,CELESTE 136 TEATRO FIV COOPERRITA,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519,EFC383,GIRO1086826
5,10586,JHV CANASTRA ENLEVO,12,5011-BG,ENLEVO SILVANIA,11,EFC717,JHV FORMATURA 315,10,C-3602,...,2019,JHV CANASTRA ENLEVO,18/06/2019,F,ENLEVO SILVANIA,JHV FORMATURA 315,1/2HOL 1/2GIR,519,EFC717,NaN
8,22541,KELLY ESPELHO JF DA SANTA RITA,12,7974-AM,ESPELHO TE DE BRASILIA,11,RRP5664,RACKELY JF DA SANTA RITA,10,A-7744,...,2012,KELLY ESPELHO JF DA SANTA RITA,06/04/2012,F,ESPELHO TE DE BRASILIA,RACKELY JF DA SANTA RITA,1/2HOL 1/2GIR,519,RRP5664,NaN
11,8490,REUNIDAS HD FLORIANA 17081 FEN,14,8038-BT,FB FENIX,11,FBGO681,REUNIDAS HD DADIVA 15897 HALEY,12,4322-AN,...,2018,REUNIDAS HD FLORIANA 17081 FENIX,01/03/2018,F,FB FENIX,REUNIDAS HD DADIVA 15897 HALEY,1/4HOL 3/4GIR,315,FBGO681,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
535,5191,NOTICIA ENLEVO 2K,12,1662-AY,ENLEVO SILVANIA,11,EFC717,2K HARPA 483,10,BR1717008,...,2017,NOTICIA ENLEVO 2K,14/04/2017,F,ENLEVO SILVANIA,2K HARPA 483,1/2HOL 1/2GIR,519,EFC717,GIRO1615926
537,9000,GALEGA GALEGO DA COLI,14,8985-AN,GALEGO FIV F. MUTUM,11,MUT899,BOLIVIA ARMSTEAD DA COLI,12,4041-U,...,2014,GALEGA GALEGO DA COLI,20/05/2014,F,GALEGO FIV F. MUTUM,BOLIVIA ARMSTEAD DA COLI,1/4HOL 3/4GIR,315,MUT899,NaN
541,7461,PITANGA RF SAO FRANCISCO,38,4055-AX,CAXAMBU FZD LUMI,11,FZLM215,HUMORISTA ZESTY RF SAO FRANCIS,34,5543-E,...,2017,PITANGA RF SAO FRANCISCO,30/04/2017,F,CAXAMBU FZD LUMI,HUMORISTA ZESTY RF SAO FRANCIS,3/8HOL 5/8GIR,417,FZLM215,GIRO1020947
545,10586,JHV BRAUNA FIV GENGIS KHAN,12,6584-BF,GENGIS KHAN DE BRASILIA,11,RRP6097,BRAUNAS GOLDWYN NARITA LARA-TE,10,HBB/B-388117,...,2018,JHV BRAUNA FIV GENGIS KHAN,24/09/2018,F,GENGIS KHAN DE BRASILIA,BRAUNAS GOLDWYN NARITA LARA-TE,1/2HOL 1/2GIR,519,RRP6097,NaN
546,9330,PALMADA CAL,14,0383-BN,DIORITO CAL,11,CAL9630,ILHOA FIV CAL,12,7229-AG,...,2020,PALMADA CAL,22/02/2020,F,DIORITO CAL,ILHOA FIV CAL,1/4HOL 3/4GIR,315,CAL9630,NaN

# Pegando o id_produto que vira id_vaca das vacas_gir na genealogia embrapa, em que o registro comeca com 3 letras

In [14]:
# somente gs_pai=11 e gs = 0 na genealogia
df_sub_tabela_gir1 = df_animais_sem_id_completo[df_animais_sem_id_completo['GSMAE']==11]
df_sub_tabela_gir1 = df_sub_tabela_gir1[df_sub_tabela_gir1['RGMAE'].apply(lambda x: bool(re.match(r'^[a-zA-Z]{3}', x)))]
df_sub_tabela_gir1

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,2014,LANCA FIV AFTERSHOCK BON.BELEM,22/12/2014,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519,207142,ACFG1840
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,2015,ARMA MERIDIAN DA MBL,27/04/2015,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519,GIRO1369768,JNR167
6,83436,PURA FIV DOORMAN SJ LALU,12,2678-BK,VAL-BISSON DOORMAN,10,AX140558,KANETA DP,11,DPJ955,...,2019,PURA FIV DOORMAN SJ LALU,29/08/2019,F,VAL-BISSON DOORMAN,KANETA DP,1/2HOL 1/2GIR,519,GIRO1407888,DPJ955
7,2381,GOTA CHELIOS JM NOVO HORIZONTE,12,7006-BC,DOMICOLE CHELIOS,10,AX131313,DALIA NOVO HORIZONTE,11,JMCH76,...,2018,GOTA CHELIOS JM NOVO HORIZONTE,13/06/2018,F,DOMICOLE CHELIOS,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519,GIRO1336133,JMCH76
13,7461,NOIVA FIV HUNTER RF SAO FRANCI,12,5567-AK,COOKIECUTTER MOM HUNTER,10,AX137355,OFENSA DO U.A.,11,UAC2324,...,2015,NOIVA FIV HUNTER RF SAO FRANCISCO,01/08/2015,F,COOKIECUTTER MOM HUNTER,OFENSA DO U.A.,1/2HOL 1/2GIR,519,211917,UAC2324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544,3717,MACIEIRA FIV VISTA ALEGRE,12,5569-BB,SEAGULL-BAY SUPERSIRE-ET,10,AX139812,ALBA COCHO D'AGUA,11,LMT15,...,2018,MACIEIRA FIV VISTA ALEGRE,07/02/2018,F,SEAGULL-BAY SUPERSIRE-ET,ALBA COCHO D'AGUA,1/2HOL 1/2GIR,519,211627,LMT15
547,11818,FABULOSA FIV BRADNICK DA JJPZ,12,3852-BN,REGANCREST-GV S BRADNICK- ET,10,AX134761,FABIA FIV,11,UDI823,...,2019,FABULOSA FIV BRADNICK DA JJPZ,27/05/2019,F,REGANCREST-GV S BRADNICK- ET,FABIA FIV,1/2HOL 1/2GIR,519,211886,UDI823
552,2381,ESTIVA QUIZAR JM NOVO HORIZONT,12,9958-AS,COLLEM FEVER QUIZAR,10,AX134708,SC MANCHETE PALADINO,11,MJJS411,...,2016,ESTIVA QUIZAR JM NOVO HORIZONTE,16/05/2016,F,COLLEM FEVER QUIZAR,SC MANCHETE PALADINO,1/2HOL 1/2GIR,519,GIRO1481509,MJJS411
554,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,2014,JPZ QUIRERA SHAMROCK ASTER FIV,18/02/2014,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519,207140,JPZ64
555,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,2017,DALIA I FIV BRADLEY JM NOVO HORIZONTE,19/08/2017,F,ROCKALLI BRADLEY,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519,210342,JMCH76

# Juntando a genealogia embrapa com os touros comecando com 3 letras e gs 11

In [15]:
df_sub_touros_id = pd.merge(df_sub_tabela_gir, df_genealogia_embrapa[['id_produto','registro']], left_on=['RGPAI'], right_on=['registro'])
df_sub_touros_id

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA,id_produto_y,registro
0,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519,RIG163,NaN,RIG163,RIG163
1,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519,EFC383,GIRO1086826,EFC383,EFC383
2,3304,LAIZ TEATRO FIV ORIENTAL,12,4367-AS,TEATRO DA SILVANIA,11,EFC383,TUKINHA ALPA LEE-FIV,10,BX416793,...,22/04/2016,F,TEATRO DA SILVANIA,TUKINHA ALPA LEE-FIV,1/2HOL 1/2GIR,519,EFC383,NaN,EFC383,EFC383
3,11818,TANDARA TEATRO 1452 BARAO DA B,12,1091-BF,TEATRO DA SILVANIA,11,EFC383,BARAO D'BOCAINA TINA TOYSTORY,10,HBB/B-496454,...,11/05/2018,F,TEATRO DA SILVANIA,BARAO D'BOCAINA TINA TOYSTORY,1/2HOL 1/2GIR,519,EFC383,NaN,EFC383,EFC383
4,8689,ABDALLA TEATRO OASIS DA DIVISA,12,7293-BJ,TEATRO DA SILVANIA,11,EFC383,OASIS DA DIVISA ATINA ELEGANCE,10,BX468447,...,11/06/2017,F,TEATRO DA SILVANIA,OASIS DA DIVISA ATINA ELEGANCE,1/2HOL 1/2GIR,519,EFC383,GIRO1533093,EFC383,EFC383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,2381,GENIAL TPGL1889 JM NOVO HORIZO,38,2833-BF,KAREL FIV DA SALOBO,11,ABP1685,DUCHA BOLDWIN JM NOVO HORIZONT,34,4386-AN,...,31/05/2018,F,KAREL FIV DA SALOBO,DUCHA BOLDWIN JM NOVO HORIZONT,3/8HOL 5/8GIR,417,ABP1685,NaN,ABP1685,ABP1685
149,9414,CETONA DA FRONTEIRA,14,4886-BW,PH DESTINO,11,PHPO456,ULTRA CANADA AFTERSHOCK FIV,12,2474-AH,...,14/11/2018,F,PH DESTINO,ULTRA CANADA AFTERSHOCK FIV,1/4HOL 3/4GIR,315,PHPO456,NaN,PHPO456,PHPO456
150,5569,DEMY CONAN MAO DA ANGOLINHA,14,4804-BE,CONAN ALBOS,11,SJTG93,SHRTC BAGDA 69 UERICA FARDO,12,4161-Z,...,25/07/2018,F,CONAN ALBOS,SHRTC BAGDA 69 UERICA FARDO,1/4HOL 3/4GIR,315,SJTG93,GIRO1322566,SJTG93,SJTG93
151,5678,GBEZ 6056 GOMEATINGA,14,4255-AS,MILIONARIO SILVANIA,11,EFC1430,GBEZ 3176 GOMEATINGA,12,7419-AH,...,24/10/2016,F,MILIONARIO SILVANIA,GBEZ 3176 GOMEATINGA,1/4HOL 3/4GIR,315,EFC1430,GIRO1446801,EFC1430,EFC1430
152,9000,GALEGA GALEGO DA COLI,14,8985-AN,GALEGO FIV F. MUTUM,11,MUT899,BOLIVIA ARMSTEAD DA COLI,12,4041-U,...,20/05/2014,F,GALEGO FIV F. MUTUM,BOLIVIA ARMSTEAD DA COLI,1/4HOL 3/4GIR,315,MUT899,NaN,MUT899,MUT899

# Juntando a genealogia embrapa com as vacas comecando com 3 letras e gs 11

In [16]:
df_sub_vacas_id = pd.merge(df_sub_tabela_gir1, df_genealogia_embrapa[['id_produto','registro']], left_on=['RGMAE'], right_on=['registro'])
df_sub_vacas_id

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA,id_produto_y,registro
0,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,22/12/2014,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519,207142,ACFG1840,ACFG1840,ACFG1840
1,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,27/04/2015,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519,GIRO1369768,JNR167,JNR167,JNR167
2,83436,PURA FIV DOORMAN SJ LALU,12,2678-BK,VAL-BISSON DOORMAN,10,AX140558,KANETA DP,11,DPJ955,...,29/08/2019,F,VAL-BISSON DOORMAN,KANETA DP,1/2HOL 1/2GIR,519,GIRO1407888,DPJ955,DPJ955,DPJ955
3,83436,PALMIRA FIV BRYANT SJ LALU,12,2669-BK,WA-DEL BRYANT-ET,10,AX143718,KANETA DP,11,DPJ955,...,05/05/2019,F,WA-DEL BRYANT-ET,KANETA DP,1/2HOL 1/2GIR,519,GIRO1545610,DPJ955,DPJ955,DPJ955
4,83436,PANDORA FIV DOORMAN SJ LALU,12,2660-BK,VAL-BISSON DOORMAN,10,AX140558,KANETA DP,11,DPJ955,...,30/08/2019,F,VAL-BISSON DOORMAN,KANETA DP,1/2HOL 1/2GIR,519,GIRO1407888,DPJ955,DPJ955,DPJ955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,9414,ULTRA GANGUE GILLESPY FIV,12,4887-BW,DE-SU GILLESPY-ET,10,AX138026,ULTRA DARA JAGUAR FIV,11,UTRG9,...,18/02/2019,F,DE-SU GILLESPY-ET,ULTRA DARA JAGUAR FIV,1/2HOL 1/2GIR,519,211639,UTRG9,UTRG9,UTRG9
145,3717,MACIEIRA FIV VISTA ALEGRE,12,5569-BB,SEAGULL-BAY SUPERSIRE-ET,10,AX139812,ALBA COCHO D'AGUA,11,LMT15,...,07/02/2018,F,SEAGULL-BAY SUPERSIRE-ET,ALBA COCHO D'AGUA,1/2HOL 1/2GIR,519,211627,LMT15,LMT15,LMT15
146,11818,FABULOSA FIV BRADNICK DA JJPZ,12,3852-BN,REGANCREST-GV S BRADNICK- ET,10,AX134761,FABIA FIV,11,UDI823,...,27/05/2019,F,REGANCREST-GV S BRADNICK- ET,FABIA FIV,1/2HOL 1/2GIR,519,211886,UDI823,UDI823,UDI823
147,2381,ESTIVA QUIZAR JM NOVO HORIZONT,12,9958-AS,COLLEM FEVER QUIZAR,10,AX134708,SC MANCHETE PALADINO,11,MJJS411,...,16/05/2016,F,COLLEM FEVER QUIZAR,SC MANCHETE PALADINO,1/2HOL 1/2GIR,519,GIRO1481509,MJJS411,MJJS411,MJJS411
148,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,18/02/2014,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519,207140,JPZ64,JPZ64,JPZ64

In [17]:
df_animais_sem_id_completo = pd.merge(df_animais_sem_id_completo, df_sub_touros_id[['IDANIMAL', 'id_produto_y']], on=['IDANIMAL'], how='left')
df_animais_sem_id_completo['IDTOURO'].fillna(df_animais_sem_id_completo['id_produto_y'], inplace=True)
df_animais_sem_id_completo = df_animais_sem_id_completo.drop(columns='id_produto_y')
df_animais_sem_id_completo = pd.merge(df_animais_sem_id_completo, df_sub_vacas_id[['IDANIMAL', 'id_produto_y']], on=['IDANIMAL'], how='left')
df_animais_sem_id_completo['IDVACA'].fillna(df_animais_sem_id_completo['id_produto_y'], inplace=True)
df_animais_sem_id_completo = df_animais_sem_id_completo.drop(columns='id_produto_y')
df_animais_sem_id_completo

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,2015,NANA IMPERADOR BAXTER RF SAO FRANCISCO,11/03/2015,F,IMPERADOR BAXTER VOLTA FRIA,JURITI HERBY RF SAO FRANCISCO,5/8HOL 3/8GIR,666,GIRO977401,NaN
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,2014,LANCA FIV AFTERSHOCK BON.BELEM,22/12/2014,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519,207142,ACFG1840
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,2013,EDILAINE IMPERIO FIV 4303 JARDIM DO TURVO,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519,RIG163,NaN
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,2015,ARMA MERIDIAN DA MBL,27/04/2015,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519,GIRO1369768,JNR167
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,2016,CELESTE 136 TEATRO FIV COOPERRITA,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519,EFC383,GIRO1086826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,2014,JPZ QUIRERA SHAMROCK ASTER FIV,18/02/2014,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519,207140,JPZ64
555,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,2017,DALIA I FIV BRADLEY JM NOVO HORIZONTE,19/08/2017,F,ROCKALLI BRADLEY,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519,210342,JMCH76
556,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,2015,QUINTA I COLE AGM TRIUNFO,25/04/2015,F,CO-OP TOYSTORY COLE-ET,QUINTA FIV M,3/4HOL 1/4GIR,795,NaN,GIRO1323923
557,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,2019,LIA DAS ARABIAS,13/06/2019,F,TURBO DAS ARABIAS,LILIKA DAS ARABIAS,5/8HOL 3/8GIR,666,GIRO1155542,NaN
558,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,2016,GERMANA FEBO FR RECREIO,16/07/2016,F,FEBO FR RECREIO,CAMPANHA FR RECREIO,5/8HOL 3/8GIR,666,GIRO1114289,NaN

Juntar codigo acima com genealogia
RGPAI(df_sub_tabela_gir) liga com registro(genealogia)
duplicar solucao para mae
RGPAI RGMAE RGVACA GS=11 retirar acentos e espacos

# Pegando os id_produto's dos touros_gir na genealogia embrapa, em que o registro nao comeca com 3 letras

In [18]:
df_sub_tabela_gir1 = df_animais_sem_id_completo[df_animais_sem_id_completo['GSPAI']==11]
df_sub_tabela_gir1 = df_sub_tabela_gir1[~df_sub_tabela_gir1['RGPAI'].apply(lambda x: bool(re.match(r'^[a-zA-Z]{3}', x)))]
#Pegando os 4 primeiros caracteres do nome
df_sub_tabela_gir1['nome4caracteres'] = df_sub_tabela_gir1['nomep'].str.slice(start=0, stop=4)


df_subtabela_genealogia = df_genealogia_embrapa
df_subtabela_genealogia = df_subtabela_genealogia[df_subtabela_genealogia['gs']==0]
df_subtabela_genealogia = df_subtabela_genealogia[df_subtabela_genealogia['sexo']=='M']
df_subtabela_genealogia = df_subtabela_genealogia[~df_subtabela_genealogia['registro'].isnull()]
df_subtabela_genealogia = df_subtabela_genealogia[~df_subtabela_genealogia['nome'].isnull()]
df_subtabela_genealogia = df_subtabela_genealogia[~df_subtabela_genealogia['registro'].apply(lambda x: bool(re.match(r'^[a-zA-Z]{3}', x)))]
df_subtabela_genealogia['nome4caracteres'] = df_subtabela_genealogia['nome'].str.slice(start=0, stop=4)

dj_juntando_tabelas = pd.merge(df_sub_tabela_gir1, df_subtabela_genealogia[['id_produto', 'registro', 'nome4caracteres']], left_on=['nome4caracteres', 'RGPAI'], right_on=['nome4caracteres', 'registro'])
dj_juntando_tabelas

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA,nome4caracteres,id_produto_y,registro
0,5191,MENINA MODELO 2K,12,4833-AR,MODELO TE DE BRASILIA,11,B5213,FEITICEIRA 2K,10,C-1072,...,F,MODELO TE DE BRASILIA,FEITICEIRA 2K,1/2HOL 1/2GIR,519,106183,NaN,MODE,106183,B5213
1,5191,MELISSA MODELO 2K,12,5416-AR,MODELO TE DE BRASILIA,11,B5213,IOGA 2K,10,C-1073,...,F,MODELO TE DE BRASILIA,IOGA 2K,1/2HOL 1/2GIR,519,106183,NaN,MODE,106183,B5213
2,1945,BROMELIA FIV DO JRD,11,JRDG28,RADAR DOS POCOES,11,A7368,PROFANA 6,11,EBQG1,...,F,RADAR DOS POCOES,PROFANA 6,GIR,11,103136,EBQG1,RADA,103136,A7368
3,5407,GARFIEIRA,11,PVBG1140,RADAR DOS POCOES,11,A7368,LARA FIV DA SADONANA,11,SDNA34,...,F,RADAR DOS POCOES,LARA FIV DA SADONANA,GIR,11,103136,SDNA34,RADA,103136,A7368
4,5407,FORTUNA DA CRISTAL,11,PVBG855,RADAR DOS POCOES,11,A7368,RADULA TE DO GAVIAO,11,GAV980,...,F,RADAR DOS POCOES,RADULA TE DO GAVIAO,GIR,11,103136,GAV980,RADA,103136,A7368
5,8030,VENTOSA CADARSO FZD,14,4241-AQ,CADARSO C-054,11,B32,SAVANA PLANET FIV FZD,12,4961-U,...,F,CADARSO C-054,SAVANA PLANET FIV FZD,1/4HOL 3/4GIR,315,102812,NaN,CADA,102812,B32

# Pegando os id_produto’s das vacas na genealogia embrapa, em que o registro nao comeca com 3 letras

In [19]:
df_sub_tabela_gir2 = df_animais_sem_id_completo[df_animais_sem_id_completo['GSMAE']==11]
df_sub_tabela_gir2 = df_sub_tabela_gir2[~df_sub_tabela_gir2['RGMAE'].apply(lambda x: bool(re.match(r'^[a-zA-Z]{3}', x)))]
#Pegando os 4 primeiros caracteres do nome
df_sub_tabela_gir2['nome4caracteres'] = df_sub_tabela_gir2['nomem'].str.slice(start=0, stop=4)


df_subtabela_genealogia1 = df_genealogia_embrapa
df_subtabela_genealogia1 = df_subtabela_genealogia1[df_subtabela_genealogia1['gs']==0]
df_subtabela_genealogia1 = df_subtabela_genealogia1[df_subtabela_genealogia1['sexo']=='F']
df_subtabela_genealogia1 = df_subtabela_genealogia1[~df_subtabela_genealogia1['registro'].isnull()]
df_subtabela_genealogia1 = df_subtabela_genealogia1[~df_subtabela_genealogia1['nome'].isnull()]
df_subtabela_genealogia1 = df_subtabela_genealogia1[~df_subtabela_genealogia1['registro'].apply(lambda x: bool(re.match(r'^[a-zA-Z]{3}', x)))]
df_subtabela_genealogia1['nome4caracteres'] = df_subtabela_genealogia1['nome'].str.slice(start=0, stop=4)

dj_juntando_tabelas1 = pd.merge(df_sub_tabela_gir2, df_subtabela_genealogia1[['id_produto', 'registro', 'nome4caracteres']], left_on=['nome4caracteres', 'RGMAE'], right_on=['nome4caracteres', 'registro'])
dj_juntando_tabelas1

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA,nome4caracteres,id_produto_y,registro
0,2381,GALAXIA SLADE JM NOVO HORIZONT,12,7027-BC,EDG SS SLADE 8314-ET,10,AX147647,PL ZARA NAPOLITANO,11,F6406,...,F,EDG SS SLADE 8314-ET,PL ZARA NAPOLITANO,1/2HOL 1/2GIR,519,NaN,155945,PL Z,155945,F6406
1,4667,2190A INDIANA,12,7968-BB,CROTEAU LESPERRON UNIX,10,AX142402,VAIDOSA F.INDIANA,11,G726,...,F,CROTEAU LESPERRON UNIX,VAIDOSA F.INDIANA,1/2HOL 1/2GIR,519,NaN,GIRO1179905,VAID,GIRO1179905,G726

# Adicionando ID's touros e ID's vacas encontrados em que o registro não comeca com 3 letras na df_animais_sem_id_completo

In [20]:
df_animais_sem_id_completo = pd.merge(df_animais_sem_id_completo, dj_juntando_tabelas[['IDANIMAL', 'id_produto_y']], on=['IDANIMAL'], how='left')
df_animais_sem_id_completo['IDTOURO'].fillna(df_animais_sem_id_completo['id_produto_y'], inplace=True)
df_animais_sem_id_completo = df_animais_sem_id_completo.drop(columns='id_produto_y')
df_animais_sem_id_completo = pd.merge(df_animais_sem_id_completo, dj_juntando_tabelas1[['IDANIMAL', 'id_produto_y']], on=['IDANIMAL'], how='left')
df_animais_sem_id_completo['IDVACA'].fillna(df_animais_sem_id_completo['id_produto_y'], inplace=True)
df_animais_sem_id_completo = df_animais_sem_id_completo.drop(columns='id_produto_y')
df_animais_sem_id_completo

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,2015,NANA IMPERADOR BAXTER RF SAO FRANCISCO,11/03/2015,F,IMPERADOR BAXTER VOLTA FRIA,JURITI HERBY RF SAO FRANCISCO,5/8HOL 3/8GIR,666,GIRO977401,NaN
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,2014,LANCA FIV AFTERSHOCK BON.BELEM,22/12/2014,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519,207142,ACFG1840
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,2013,EDILAINE IMPERIO FIV 4303 JARDIM DO TURVO,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519,RIG163,NaN
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,2015,ARMA MERIDIAN DA MBL,27/04/2015,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519,GIRO1369768,JNR167
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,2016,CELESTE 136 TEATRO FIV COOPERRITA,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519,EFC383,GIRO1086826
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
554,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,2014,JPZ QUIRERA SHAMROCK ASTER FIV,18/02/2014,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519,207140,JPZ64
555,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,2017,DALIA I FIV BRADLEY JM NOVO HORIZONTE,19/08/2017,F,ROCKALLI BRADLEY,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519,210342,JMCH76
556,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,2015,QUINTA I COLE AGM TRIUNFO,25/04/2015,F,CO-OP TOYSTORY COLE-ET,QUINTA FIV M,3/4HOL 1/4GIR,795,NaN,GIRO1323923
557,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,2019,LIA DAS ARABIAS,13/06/2019,F,TURBO DAS ARABIAS,LILIKA DAS ARABIAS,5/8HOL 3/8GIR,666,GIRO1155542,NaN
558,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,2016,GERMANA FEBO FR RECREIO,16/07/2016,F,FEBO FR RECREIO,CAMPANHA FR RECREIO,5/8HOL 3/8GIR,666,GIRO1114289,NaN

# Lista de animais com IDVACA E IDTOURO

In [21]:
df_animais_com_ids = df_animais_sem_id_completo[~df_animais_sem_id_completo['IDVACA'].isnull() & ~df_animais_sem_id_completo['IDTOURO'].isnull()]
df_animais_com_ids

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,2014,LANCA FIV AFTERSHOCK BON.BELEM,22/12/2014,F,MS ATLEES SHT AFTERSHOCK - ET,JOANE FIV KUBERA,1/2HOL 1/2GIR,519,207142,ACFG1840
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,2015,ARMA MERIDIAN DA MBL,27/04/2015,F,SULLY HART MERIDIAN-ET,FAMA,1/2HOL 1/2GIR,519,GIRO1369768,JNR167
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,2016,CELESTE 136 TEATRO FIV COOPERRITA,05/02/2016,F,TEATRO DA SILVANIA,LAGOS ASTRE QUIMICA 795 TE,1/2HOL 1/2GIR,519,EFC383,GIRO1086826
6,83436,PURA FIV DOORMAN SJ LALU,12,2678-BK,VAL-BISSON DOORMAN,10,AX140558,KANETA DP,11,DPJ955,...,2019,PURA FIV DOORMAN SJ LALU,29/08/2019,F,VAL-BISSON DOORMAN,KANETA DP,1/2HOL 1/2GIR,519,GIRO1407888,DPJ955
7,2381,GOTA CHELIOS JM NOVO HORIZONTE,12,7006-BC,DOMICOLE CHELIOS,10,AX131313,DALIA NOVO HORIZONTE,11,JMCH76,...,2018,GOTA CHELIOS JM NOVO HORIZONTE,13/06/2018,F,DOMICOLE CHELIOS,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519,GIRO1336133,JMCH76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,8490,REUNIDAS HD FILADELFIA 17237 F,58,0122-BB,VIEW-HOME MONTEREY-ET,10,AX143697,REUNIDAS HD BAGDA 14426 CASTEL,14,8010-L,...,2018,REUNIDAS HD FILADELFIA 17237 FIV MONTEREY,31/07/2018,F,VIEW-HOME MONTEREY-ET,REUNIDAS HD BAGDA 14426 CASTEL,5/8HOL 3/8GIR,693,GIRO1531445,GIRO1265445
551,5426,SHRTC ESPERANAA AUSTRIA GOLD C,34,9428-AQ,MR CHASSITY GOLD CHIP-ET,10,AX135713,SHRTC AUSTRIA TEATRO FIV,12,8739-X,...,2016,SHRTC ESPERANCA AUSTRIA GOLD CHIP FIV 497,22/04/2016,F,MR CHASSITY GOLD CHIP-ET,SHRTC AUSTRIA TEATRO FIV,3/4HOL 1/4GIR,795,210297,GIRO1191848
552,2381,ESTIVA QUIZAR JM NOVO HORIZONT,12,9958-AS,COLLEM FEVER QUIZAR,10,AX134708,SC MANCHETE PALADINO,11,MJJS411,...,2016,ESTIVA QUIZAR JM NOVO HORIZONTE,16/05/2016,F,COLLEM FEVER QUIZAR,SC MANCHETE PALADINO,1/2HOL 1/2GIR,519,GIRO1481509,MJJS411
554,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,2014,JPZ QUIRERA SHAMROCK ASTER FIV,18/02/2014,F,LADYS-MANOR PL SHAMROCK-ET,JPZ ASTER FIV,1/2HOL 1/2GIR,519,207140,JPZ64
555,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,2017,DALIA I FIV BRADLEY JM NOVO HORIZONTE,19/08/2017,F,ROCKALLI BRADLEY,DALIA NOVO HORIZONTE,1/2HOL 1/2GIR,519,210342,JMCH76

# Lista de animais sem IDTOURO e sem IDVACA

In [22]:
df_animais_com_ids = df_animais_sem_id_completo[df_animais_sem_id_completo['IDVACA'].isnull() & df_animais_sem_id_completo['IDTOURO'].isnull()]
df_animais_com_ids

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA
14,8494,WILY 1151 DA JCS C.BONITA,38,3468-BJ,0,0,0,0,0,0,...,2019,WILY 1151 DA JCS C.BONITA,04/02/2019,F,NaN,NaN,3/8HOL 5/8GIR,417,NaN,NaN
35,5192,LIGIA FIV HUMBLENKIND 2403 RS,34,0578-BG,COOKIECUTTER HUMBLENKIND-ET,10,AX152772,KIRIA FIV ALAMBARI,12,5885-AT,...,2019,LIGIA FIV HUMBLENKIND 2403 RS DO RANCHO ALEGRE,30/04/2019,F,COOKIECUTTER HUMBLENKIND-ET,KIRIA FIV ALAMBARI,3/4HOL 1/4GIR,795,NaN,NaN
38,8494,VAIDOSA 1108 DA JCS C.BONITA,14,3470-BJ,0,0,0,0,0,0,...,2018,VAIDOSA 1108 DA JCS C.BONITA,18/08/2018,F,NaN,NaN,1/4HOL 3/4GIR,315,NaN,NaN
54,10032,ELITE RECANTO DO COQUEIRO,58,8014-BH,0,0,0,0,0,0,...,2019,ELITE RECANTO DO COQUEIRO,25/08/2019,F,NaN,NaN,5/8HOL 3/8GIR,693,NaN,NaN
65,10032,BELEZA RECANTO DO COQUEIRO,12,3748-AS,0,0,0,0,0,0,...,2014,BELEZA RECANTO DO COQUEIRO,10/09/2014,F,NaN,NaN,1/2HOL 1/2GIR,519,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,1026,ARTEMIS FBS CAETANO,12,6396-AR,0,0,0,0,0,0,...,2013,ARTEMIS FBS CAETANO,22/10/2013,F,NaN,NaN,1/2HOL 1/2GIR,519,NaN,NaN
528,5191,ORGANICA 5/8-591 2K,34,3860-BD,CACIQUE A. JORDAN NOVA TERRA,58,9140-M,GRINALDA 2K,78,6223-AA,...,2018,ORGANICA 5/8-591 2K,03/04/2018,F,CACIQUE A. JORDAN NOVA TERRA,GRINALDA 2K,3/4HOL 1/4GIR,795,NaN,NaN
530,10032,SERRA NEGRA DA SANQUIT,12,5043-AP,0,0,0,0,0,0,...,2013,SERRA NEGRA DA SANQUIT,31/05/2013,F,NaN,NaN,1/2HOL 1/2GIR,519,NaN,NaN
542,1129,UARA ANGICO,34,8692-AX,0,0,0,0,0,0,...,2017,UARA ANGICO,03/02/2017,F,NaN,NaN,3/4HOL 1/4GIR,795,NaN,NaN
553,10032,CATUABA F.DA BARRA,12,2720-BM,0,0,0,0,0,0,...,2015,CATUABA F.DA BARRA,01/09/2015,F,NaN,NaN,1/2HOL 1/2GIR,519,NaN,NaN

# Lista de animais sem IDVACA

In [23]:
df_animais_sem_idvaca = df_animais_sem_id_completo[df_animais_sem_id_completo['IDVACA'].isnull()]
df_animais_sem_idvaca

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,2015,NANA IMPERADOR BAXTER RF SAO FRANCISCO,11/03/2015,F,IMPERADOR BAXTER VOLTA FRIA,JURITI HERBY RF SAO FRANCISCO,5/8HOL 3/8GIR,666,GIRO977401,NaN
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,2013,EDILAINE IMPERIO FIV 4303 JARDIM DO TURVO,18/10/2013,F,IMPERIO TE STA EDWIGES,SERTEC QATAR FABIANA PROGRESS,1/2HOL 1/2GIR,519,RIG163,NaN
5,10586,JHV CANASTRA ENLEVO,12,5011-BG,ENLEVO SILVANIA,11,EFC717,JHV FORMATURA 315,10,C-3602,...,2019,JHV CANASTRA ENLEVO,18/06/2019,F,ENLEVO SILVANIA,JHV FORMATURA 315,1/2HOL 1/2GIR,519,EFC717,NaN
8,22541,KELLY ESPELHO JF DA SANTA RITA,12,7974-AM,ESPELHO TE DE BRASILIA,11,RRP5664,RACKELY JF DA SANTA RITA,10,A-7744,...,2012,KELLY ESPELHO JF DA SANTA RITA,06/04/2012,F,ESPELHO TE DE BRASILIA,RACKELY JF DA SANTA RITA,1/2HOL 1/2GIR,519,RRP5664,NaN
10,4406,VITORIA WINDSTAR IRARA II,34,6762-B,DUPASQUIER WINDSTAR,10,AX101932,SANDI IRARA II,12,X-2396,...,2009,VITORIA WINDSTAR IRARA II,18/05/2009,F,DUPASQUIER WINDSTAR,SANDI IRARA II,3/4HOL 1/4GIR,795,143607,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546,9330,PALMADA CAL,14,0383-BN,DIORITO CAL,11,CAL9630,ILHOA FIV CAL,12,7229-AG,...,2020,PALMADA CAL,22/02/2020,F,DIORITO CAL,ILHOA FIV CAL,1/4HOL 3/4GIR,315,CAL9630,NaN
548,6029,GRAVINA FEBO FR RECREIO,5858,9073-AS,FEBO FR RECREIO,58,6300-N,DORINA FR RECREIO,58,0860-T,...,2016,GRAVINA FEBO FR RECREIO,13/06/2016,F,FEBO FR RECREIO,DORINA FR RECREIO,5/8HOL 3/8GIR,666,GIRO1114289,NaN
553,10032,CATUABA F.DA BARRA,12,2720-BM,0,0,0,0,0,0,...,2015,CATUABA F.DA BARRA,01/09/2015,F,NaN,NaN,1/2HOL 1/2GIR,519,NaN,NaN
557,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,2019,LIA DAS ARABIAS,13/06/2019,F,TURBO DAS ARABIAS,LILIKA DAS ARABIAS,5/8HOL 3/8GIR,666,GIRO1155542,NaN
558,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,2016,GERMANA FEBO FR RECREIO,16/07/2016,F,FEBO FR RECREIO,CAMPANHA FR RECREIO,5/8HOL 3/8GIR,666,GIRO1114289,NaN

# Lista de animais sem IDTOURO

In [24]:
df_animais_sem_idtouro = df_animais_sem_id_completo[df_animais_sem_id_completo['IDTOURO'].isnull()]
df_animais_sem_idtouro

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA
9,10586,MORANGA OPINIOSO DO SEGREDO VE,58,6930-BC,ARATINGA OPINIOSO 81 BROKAW TE,10,AX144696,SALINA NOBRE DO MORRO,14,C-4972,...,2018,MORANGA OPINIOSO DO SEGREDO VELHO,07/08/2018,F,ARATINGA OPINIOSO 81 BROKAW TE,SALINA NOBRE DO MORRO,5/8HOL 3/8GIR,693,NaN,GIRO821357
14,8494,WILY 1151 DA JCS C.BONITA,38,3468-BJ,0,0,0,0,0,0,...,2019,WILY 1151 DA JCS C.BONITA,04/02/2019,F,NaN,NaN,3/8HOL 5/8GIR,417,NaN,NaN
15,4237,JADI DYNAMO FIV FUNDAO,12,3640-BK,MR RUBICON DYNAMO-ET,10,AX152161,DIAMANTINA FIV ZBR,11,ZBR157,...,2019,JADI DYNAMO FIV FUNDAO,14/09/2019,F,MR RUBICON DYNAMO-ET,DIAMANTINA FIV ZBR,1/2HOL 1/2GIR,519,NaN,ZBR157
16,5569,CLAIRE UTOPIA LAMBDA SH FIV 2B,12,9276-BK,FARNEAR DELTA-LAMBDA-ET,10,AX152152,UTOPIA FIV 2B,11,ZAB1116,...,2019,CLAIRE UTOPIA LAMBDA SH FIV 2B,02/10/2019,F,FARNEAR DELTA-LAMBDA-ET,UTOPIA FIV 2B,1/2HOL 1/2GIR,519,NaN,ZAB1116
21,52717,TANISHA FIV MORENO ALEGRE,58,4758-BB,PEAK ALTAMORENO-ET,10,AX150663,PRATEADA FIV SANSAO JGVA,14,3599-F,...,2018,TANISHA FIV MORENO ALEGRE,19/03/2018,F,PEAK ALTAMORENO-ET,PRATEADA FIV SANSAO JGVA,5/8HOL 3/8GIR,693,NaN,GIRO984858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,5191,ORGANICA 5/8-591 2K,34,3860-BD,CACIQUE A. JORDAN NOVA TERRA,58,9140-M,GRINALDA 2K,78,6223-AA,...,2018,ORGANICA 5/8-591 2K,03/04/2018,F,CACIQUE A. JORDAN NOVA TERRA,GRINALDA 2K,3/4HOL 1/4GIR,795,NaN,NaN
530,10032,SERRA NEGRA DA SANQUIT,12,5043-AP,0,0,0,0,0,0,...,2013,SERRA NEGRA DA SANQUIT,31/05/2013,F,NaN,NaN,1/2HOL 1/2GIR,519,NaN,NaN
542,1129,UARA ANGICO,34,8692-AX,0,0,0,0,0,0,...,2017,UARA ANGICO,03/02/2017,F,NaN,NaN,3/4HOL 1/4GIR,795,NaN,NaN
553,10032,CATUABA F.DA BARRA,12,2720-BM,0,0,0,0,0,0,...,2015,CATUABA F.DA BARRA,01/09/2015,F,NaN,NaN,1/2HOL 1/2GIR,519,NaN,NaN
556,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,2015,QUINTA I COLE AGM TRIUNFO,25/04/2015,F,CO-OP TOYSTORY COLE-ET,QUINTA FIV M,3/4HOL 1/4GIR,795,NaN,GIRO1323923

# Separando touros

In [ ]:
df_animais_sem_id_touro_gir = df_animais_sem_idtouro.loc[df_animais_sem_idtouro['gs'] == 11, 'RGVACA'] = df_animais_sem_idtouro.loc[df_animais_sem_idtouro['gs'] == 11, 'RGVACA'].str.replace('-', '').str.replace(' ', '')

In [25]:
df_animais_sem_id_touro = df_animais_sem_idtouro[df_animais_sem_idtouro['GSPAI']!=11]
df_animais_sem_id_touro

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,AN,NOMEVACA,DNASC,SEXO,NOMEPAI,NOMEMAE,cgen_a,comb,IDTOURO,IDVACA
9,10586,MORANGA OPINIOSO DO SEGREDO VE,58,6930-BC,ARATINGA OPINIOSO 81 BROKAW TE,10,AX144696,SALINA NOBRE DO MORRO,14,C-4972,...,2018,MORANGA OPINIOSO DO SEGREDO VELHO,07/08/2018,F,ARATINGA OPINIOSO 81 BROKAW TE,SALINA NOBRE DO MORRO,5/8HOL 3/8GIR,693,NaN,GIRO821357
14,8494,WILY 1151 DA JCS C.BONITA,38,3468-BJ,0,0,0,0,0,0,...,2019,WILY 1151 DA JCS C.BONITA,04/02/2019,F,NaN,NaN,3/8HOL 5/8GIR,417,NaN,NaN
15,4237,JADI DYNAMO FIV FUNDAO,12,3640-BK,MR RUBICON DYNAMO-ET,10,AX152161,DIAMANTINA FIV ZBR,11,ZBR157,...,2019,JADI DYNAMO FIV FUNDAO,14/09/2019,F,MR RUBICON DYNAMO-ET,DIAMANTINA FIV ZBR,1/2HOL 1/2GIR,519,NaN,ZBR157
16,5569,CLAIRE UTOPIA LAMBDA SH FIV 2B,12,9276-BK,FARNEAR DELTA-LAMBDA-ET,10,AX152152,UTOPIA FIV 2B,11,ZAB1116,...,2019,CLAIRE UTOPIA LAMBDA SH FIV 2B,02/10/2019,F,FARNEAR DELTA-LAMBDA-ET,UTOPIA FIV 2B,1/2HOL 1/2GIR,519,NaN,ZAB1116
21,52717,TANISHA FIV MORENO ALEGRE,58,4758-BB,PEAK ALTAMORENO-ET,10,AX150663,PRATEADA FIV SANSAO JGVA,14,3599-F,...,2018,TANISHA FIV MORENO ALEGRE,19/03/2018,F,PEAK ALTAMORENO-ET,PRATEADA FIV SANSAO JGVA,5/8HOL 3/8GIR,693,NaN,GIRO984858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,5191,ORGANICA 5/8-591 2K,34,3860-BD,CACIQUE A. JORDAN NOVA TERRA,58,9140-M,GRINALDA 2K,78,6223-AA,...,2018,ORGANICA 5/8-591 2K,03/04/2018,F,CACIQUE A. JORDAN NOVA TERRA,GRINALDA 2K,3/4HOL 1/4GIR,795,NaN,NaN
530,10032,SERRA NEGRA DA SANQUIT,12,5043-AP,0,0,0,0,0,0,...,2013,SERRA NEGRA DA SANQUIT,31/05/2013,F,NaN,NaN,1/2HOL 1/2GIR,519,NaN,NaN
542,1129,UARA ANGICO,34,8692-AX,0,0,0,0,0,0,...,2017,UARA ANGICO,03/02/2017,F,NaN,NaN,3/4HOL 1/4GIR,795,NaN,NaN
553,10032,CATUABA F.DA BARRA,12,2720-BM,0,0,0,0,0,0,...,2015,CATUABA F.DA BARRA,01/09/2015,F,NaN,NaN,1/2HOL 1/2GIR,519,NaN,NaN
556,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,2015,QUINTA I COLE AGM TRIUNFO,25/04/2015,F,CO-OP TOYSTORY COLE-ET,QUINTA FIV M,3/4HOL 1/4GIR,795,NaN,GIRO1323923

In [ ]:
df_animais_sem_id_touro