Funcoes utilizadas
Criar uma lista de comprimentos de strings em cada célula da coluna especificada
comprimentos = [len(str(celula)) for celula in df.iloc[: ,4]]
Encontrar o índice da célula com o maior número de caracteres
indice_maior = comprimentos.index(max(comprimentos))
Extrair a célula com o maior número de caracteres
celula_maior = df.iloc[indice_maior][4] df.iloc[: , 4][indice_maior] df.iloc[: , 4].value_counts() celula_maior df.iloc[:,0]
index = df.columns.get_loc(‘abcz’)
index df

IDANIMAL = CHAVE UNICA
MP = CHAVE UNICA -  Mes parto
AP = CHAVE UNICA - -Ano parto

LTOT = lactacao total
L365 = lactacao em ate 365 dias
L305 = lactacao em ate 305 dias
DE = Data de Secagem
ME = Mes de secagem
AE = ANO de Secagem
caso o LTOT, L365 e L305, DE, ME e AE sejam iguais ao arquivo old, pode ser descartado

In [18]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

## conectando no banco de dados

In [19]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="4d5f0l9k",
  database="bioinformatica_new"
)

## Retornando toda tabela genealogia_embrapa e genealogia_abcz do banco de dados para dataframes

In [20]:
sql = f"WITH tabela_virtual AS (SELECT * FROM genealogia_embrapa) SELECT tv.*, (SELECT registro FROM tabela_virtual AS pai WHERE pai.id_produto = tv.id_touro) AS registro_pai, (SELECT registro FROM tabela_virtual AS mae WHERE mae.id_produto = tv.id_vaca) AS registro_mae FROM tabela_virtual AS tv"
sql1 = "SELECT * FROM genealogia_abcz"
df_genealogia_embrapa = pd.read_sql(sql, mydb)
df_genealogia_embrapa=df_genealogia_embrapa.rename(columns={'idanimal': 'IDANIMAL'})
df_genealogia_abcz = pd.read_sql(sql1, mydb)

## Lendo planilhas

In [ ]:
pedigree = pd.read_csv("pedrigree - Girolando - 17-02-2023.txt", encoding='ISO-8859-1')
dados_2023 = pd.read_csv("PNMGL - Dados girolando - 17-02-23.txt", encoding='ISO-8859-1')
dados_2022 = pd.read_csv("PNMGL - Dados_old - 17-02-2023.txt", encoding='ISO-8859-1')

In [ ]:
pedigree

In [ ]:
dados_2022

In [ ]:
dados_2023

In [21]:
df_genealogia_embrapa

,id_produto,id,abcz,registro,nome,sexo,paternidade,ck_sire,id_touro,id_vaca,...,gr_tp,rebc2_cri,rebc2_pr,cat,ficha_a,cod_prod,IDANIMAL,origem,registro_pai,registro_mae
0,0001,0001,None,None,nan,M,None,None,None,None,...,0,99999,99999,None,0,0,0,OUTRAS,None,None
1,0003,0003,None,None,nan,M,None,None,None,None,...,0,99999,99999,None,0,0,0,OUTRAS,None,None
2,0006,0006,None,None,nan,M,None,None,None,None,...,0,99999,99999,None,0,0,0,OUTRAS,None,None
3,02418-249,02418-249,None,2418,nan,F,None,None,108115,108615,...,0,99999,99999,None,0,0,0,OUTRAS,A1343,18935
4,03,03,None,None,nan,M,None,None,None,None,...,0,99999,99999,None,0,0,0,OUTRAS,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463543,ZZZ7,ZZZ7,S,ZZZ7,AMBICAO,F,None,None,KCA472,135177,...,0,7145-ABCZ 1,11958-ABCZ 1,PO,1351780,3158020,0,ABCGIL,KCA472,KB429
463544,ZZZ8,ZZZ8,S,ZZZ8,AGASALHO,M,None,None,121118,131985,...,0,7145-ABCZ 1,7145-ABCZ 1,PO,0,3247323,0,ABCZ,K830,KA7368
463545,ZZZ9,ZZZ9,S,ZZZ9,BACABAL,M,None,None,133175,178922,...,0,7145-ABCZ 1,7145-ABCZ 1,PO,0,3247322,0,ABCZ,K974,KA9422
463546,ZZZA1,ZZZA1,S,ZZZA1,ANITA,F,None,None,EFC383,JDRB874,...,0,7145-ABCZ 1,7145-ABCZ 1,PO,0,9499094,0,ABCZ,EFC383,JDRB874
463547,ZZZA2,ZZZA2,S,ZZZA2,ANDREA,F,None,None,RRP5224,177993,...,0,7145-ABCZ 1,7145-ABCZ 1,PO,0,9499095,0,ABCZ,RRP5224,AB7320

In [ ]:
df_genealogia_abcz

## Criando um dataframe que é a junção dos dois dataframes, dados_2022 e dados_2023, pelas celulas que possuem os mesmos valores nas colunas IDANIMAL, AP, MP, L305, LTOT, L365, ME e AE.

In [ ]:
df_dados_repetidos_entre_2022_2023 = pd.merge(dados_2023, dados_2022, on=['IDANIMAL', 'AP', 'MP','L305', 'LTOT', 'L365', 'ME', 'AE', 'CAUSA'],suffixes=('', '_drop'))
df_dados_repetidos_entre_2022_2023 = df_dados_repetidos_entre_2022_2023.drop(df_dados_repetidos_entre_2022_2023.filter(regex='_drop$').columns, axis=1)
df_dados_repetidos_entre_2022_2023 = df_dados_repetidos_entre_2022_2023.drop_duplicates()
df_dados_repetidos_entre_2022_2023

## Criando um dataframe com somente os novos dados inseridos em 2023
Esses são os dados que precisam ser inseridos no banco de dados

In [ ]:
# faz o merge entre os dois dataframes, o dados com os dados repetidos
df_merge = pd.merge(dados_2023, df_dados_repetidos_entre_2022_2023, how='left', indicator=True, suffixes=('', '_drop'))

# filtra somente as linhas que estão no dataframe da esquerda
df_dados_novos_2023 = df_merge[df_merge['_merge'] == 'left_only']

# remove a coluna "_merge"
df_dados_novos_2023.drop('_merge', axis=1, inplace=True)

df_dados_novos_2023 = df_dados_novos_2023.drop(df_merge.filter(regex='_drop$').columns, axis=1)
df_dados_novos_2023 = df_dados_novos_2023.drop_duplicates()
df_dados_novos_2023

# Adicionando coluna GS, oriunda do dataframe Pedigree, no dataframe df_dados_novos
inclusão necessária para localizar o animal

In [ ]:
df_temporaria = pd.merge(df_dados_novos_2023, pedigree[['IDANIMAL', 'gs', 'SEXO']], on=['IDANIMAL'], suffixes=('', '_drop'))
df_dados_novos_2023=df_temporaria
df_dados_novos_2023

nome_antigo = 'SEXO'
nome_novo = 'sexo'
indice_coluna = df_dados_novos_2023.columns.get_loc(nome_antigo)
df_dados_novos_2023.rename(columns={nome_antigo: nome_novo}, inplace=True)
df_dados_novos_2023

#df_dados_novos_2023 = df_dados_novos_2023.rename(columns={'SEXO': 'sexo'})

# Criando subtabela com somente gs = 0

In [ ]:
sub_tabela_gs_0 = df_dados_novos_2023[df_dados_novos_2023['gs'] == 0]
sub_tabela_gs_0

# Adicionando coluna cod_prod, oriunda do dataframe df_genealogia_abcz, na subtabela gs

In [ ]:
df_genealogia_abcz = df_genealogia_abcz.rename(columns={'rgd2': 'RGVACA'})
df_temporaria1 = pd.merge(sub_tabela_gs_0, df_genealogia_abcz[['RGVACA', 'cod_prod']], on=['RGVACA'], how='left', suffixes=('', '_drop'))
sub_tabela_gs_0=df_temporaria1
sub_tabela_gs_0 = sub_tabela_gs_0.drop_duplicates()
sub_tabela_gs_0

# Adicionando codprod no dataframe df_dados_novos_2023 a partir do dataframe sub_tabela_gs_0

In [ ]:
df_temporaria2 = pd.merge(df_dados_novos_2023, sub_tabela_gs_0[['RGVACA', 'cod_prod', 'IDANIMAL']], on=['RGVACA', 'IDANIMAL'], how='left', suffixes=('', '_drop'))
df_dados_novos_2023=df_temporaria2
df_dados_novos_2023 = df_dados_novos_2023.drop_duplicates()
df_dados_novos_2023

## Calculando a diferença entre a data dos novos partos com as ultimas datas presentes na tabela de dados_2022 para validar se ha alguma inconsistência

obs: Caso a diferença seja menor que 250 dias é provável que haja alguma falha.

In [ ]:

mesclado = pd.merge(df_dados_novos_2023, dados_2022, on=['IDANIMAL'], suffixes=('', '_drop'))
mesclado = mesclado.drop_duplicates()
#mesclado = mesclado.drop(mesclado.filter(regex='_drop$').columns, axis=1)
mesclado[['parto', 'parto_drop']] = mesclado[['parto', 'parto_drop']].astype(str)
mesclado[['parto', 'parto_drop']] = mesclado[['parto', 'parto_drop']].apply(pd.to_datetime)
mesclado['diferenca_em_dias'] = (mesclado['parto'] - mesclado['parto_drop']).dt.days
mesclado[['parto', 'parto_drop', 'diferenca_em_dias']]

## Pegando da tabela de animais que serão inseridos no banco aqueles que ja possuem IDANIMAL cadastrado
Comparado ao dataframe  dados_2022

In [ ]:
df_animais_com_ID = pd.merge(df_dados_novos_2023, dados_2022, on =['IDANIMAL'], suffixes=('', '_drop'))
df_animais_com_ID = df_animais_com_ID.drop(df_animais_com_ID.filter(regex='_drop$').columns, axis=1)
df_animais_com_ID = df_animais_com_ID.drop_duplicates()
df_animais_com_ID

## Pegando da tabela de animais que serão inseridos no banco, todos aqueles que não possuem IDANIMAL cadastrado
comparado ao dataframe dados_2022

In [ ]:
merged_df = pd.merge(df_dados_novos_2023, dados_2022, on='IDANIMAL', how='left', indicator=True, suffixes=('', '_drop'))
merged_df = merged_df.drop(merged_df.filter(regex='_drop$').columns, axis=1)
merged_df = merged_df[merged_df['_merge'] == 'left_only'].drop(columns='_merge')
df_animais_sem_id = merged_df
df_animais_sem_id

In [ ]:
#dados_2022[dados_2022['IDANIMAL'] == 1631099]

# Criando o dataframe df_verificando_animais_com_id_na_genealogia_embrapa que é a junção dos dataframes genealogia_embrapa e df_animais_com_ID, pela coluna IDANIMAL e adicionando a coluna id_produto no dataframe df_verificando_animais_com_id_na_genealogia_embrapa

In [ ]:
df_genealogia_embrapa['IDANIMAL'] = df_genealogia_embrapa['IDANIMAL'].astype('int')
df_verificando_animais_com_id_na_genealogia_embrapa = pd.merge(df_animais_com_ID, df_genealogia_embrapa[['IDANIMAL', 'id_produto']], on='IDANIMAL', how='left', indicator=True)

# Excluindo itens duplicados

In [ ]:
df_verificando_animais_com_id_na_genealogia_embrapa = df_verificando_animais_com_id_na_genealogia_embrapa.drop_duplicates()
df_verificando_animais_com_id_na_genealogia_embrapa = df_verificando_animais_com_id_na_genealogia_embrapa.drop(columns='_merge')
df_verificando_animais_com_id_na_genealogia_embrapa

## Lista de animais do dataframe sem ID em relacao a dados_2022 e que possuem ID_animal no dataframe da genealogia_Embrapa
Obs: Tem que ter ID_produto

In [ ]:
df_animais_sem_id = df_animais_sem_id.add_suffix('_esq')
df_genealogia_embrapa = df_genealogia_embrapa.add_suffix('_dir')

df_verificando_animais_com_id_df_sem_id_na_genealogia_embrapa = pd.merge(df_animais_sem_id, df_genealogia_embrapa, left_on=['IDANIMAL_esq'], right_on=['IDANIMAL_dir'], how='left', indicator=True)


df_verificando_animais_com_id_df_sem_id_na_genealogia_embrapa.drop_duplicates()
df_verificando_animais_com_id_df_sem_id_na_genealogia_embrapa = df_verificando_animais_com_id_df_sem_id_na_genealogia_embrapa.drop(df_verificando_animais_com_id_df_sem_id_na_genealogia_embrapa.filter(regex='_drop$').columns, axis=1)
df_com_id_df_na_genealogia_embrapa = df_verificando_animais_com_id_df_sem_id_na_genealogia_embrapa[df_verificando_animais_com_id_df_sem_id_na_genealogia_embrapa['_merge'] == 'both']
df_com_id_df_na_genealogia_embrapa
# dropa as colunas que não são necessárias
df_com_id_df_na_genealogia_embrapa = df_com_id_df_na_genealogia_embrapa.drop(df_verificando_animais_com_id_df_sem_id_na_genealogia_embrapa.filter(regex='_dir').columns.difference(['id_produto_dir']), axis=1)
df_com_id_df_na_genealogia_embrapa = df_com_id_df_na_genealogia_embrapa.rename(columns=lambda x: x.replace('_esq', '') if '_esq' in x else x)
df_com_id_df_na_genealogia_embrapa = df_com_id_df_na_genealogia_embrapa.rename(columns=lambda x: x.replace('_dir', '') if '_dir' in x else x)
df_com_id_df_na_genealogia_embrapa.drop(columns='_merge')
df_com_id_df_na_genealogia_embrapa

# Localizando ID dos animais dos animais sem id por outros campos na tabela genealogia_embrapa

In [24]:
testeZ = pd.merge(df_animais_sem_id, df_genealogia_embrapa, left_on=['gs_esq', 'RGPAI_esq', 'RGMAE_esq'], right_on=['gs', 'registro_pai', 'registro_mae'], how='left', indicator=True)
testeZ

,reb_giro_esq,nomea_esq,COMPRAC_esq,RGVACA_esq,nomep_esq,GSPAI_esq,RGPAI_esq,nomem_esq,GSMAE_esq,RGMAE_esq,...,rebc2_cri,rebc2_pr,cat,ficha_a,cod_prod,IDANIMAL,origem,registro_pai,registro_mae,_merge
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,99999,99999,None,0,0.0,1608484,GIRO202202,AX138576,JNR167,both
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,99999,99999,None,0,0.0,1149462,GIRO20170301,EFC383,BX335536,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
714,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
715,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
716,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
717,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

# Pegando a lista de todos os animais que não possuem id no banco de dados
Obs: Não pode ter id_produto

In [22]:
df_sem_id_na_genealogia_embrapa = df_verificando_animais_com_id_df_sem_id_na_genealogia_embrapa[df_verificando_animais_com_id_df_sem_id_na_genealogia_embrapa['_merge'] == 'left_only']
df_sem_id_na_genealogia_embrapa = df_sem_id_na_genealogia_embrapa.drop(df_sem_id_na_genealogia_embrapa.filter(regex='_dir').columns.difference(['id_produto_dir']), axis=1)
# renomeia as colunas que possuem o sufixo '_esq'
df_sem_id_na_genealogia_embrapa = df_sem_id_na_genealogia_embrapa.rename(columns=lambda x: x.replace('_esq', '') if '_esq' in x else x)
df_sem_id_na_genealogia_embrapa = df_sem_id_na_genealogia_embrapa.rename(columns=lambda x: x.replace('_dir', '') if '_dir' in x else x)
df_sem_id_na_genealogia_embrapa = df_sem_id_na_genealogia_embrapa.drop(columns='_merge')
df_sem_id_na_genealogia_embrapa

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,anop_menos1c,rebc,rac,nordc,rebanoe,ordem,gs,sexo,cod_prod,id_produto
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,2019,7461,2,2,74612019122,NaN,5,F,NaN,NaN
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,2021,10639,2,2,106392021122,NaN,4,F,NaN,NaN
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,2020,6039,2,2,60392020122,NaN,4,F,NaN,NaN
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,2020,1945,2,2,19452021222,NaN,4,F,NaN,NaN
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,2020,73119,2,2,731192021222,NaN,4,F,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,2021,1945,2,2,19452022222,NaN,4,F,NaN,NaN
618,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,2020,2381,2,2,23812021222,NaN,4,F,NaN,NaN
619,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,2018,132,2,2,1322019222,NaN,6,F,NaN,NaN
620,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,2020,6915,2,2,69152021222,NaN,5,F,NaN,NaN
621,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,2018,6029,2,2,60292019122,NaN,5,F,NaN,NaN

# Numero de animais que possuem e que não possuem IDANIMAL no genealogia_embrapa
both = possui
left_only = não possui

In [ ]:
df_localizando_animais_sem_id_genealogia = pd.merge(df_sem_id_na_genealogia_embrapa, df_genealogia_embrapa, on=['gs', 'RGVACA', 'sexo'],suffixes=('', '_drop'), how='left', indicator=True)
df_localizando_animais_sem_id_genealogia.value_counts(subset='_merge')

# Identificando os animais que possuem IDANIMAL no dataframe da genealogia_embrapa

In [ ]:
df_com_idanimal_genealogia = df_localizando_animais_sem_id_genealogia[df_localizando_animais_sem_id_genealogia['_merge'] == 'both']

# Identificando os animais que não possuem IDANIMAL no dataframe do genealogia_embrapa
Usando os campos gs, sexo, rgvaca, rgpai e anoNascimento

In [ ]:
df_sem_idanimal_genealogia = df_localizando_animais_sem_id_genealogia[df_localizando_animais_sem_id_genealogia['_merge'] == 'left_only']
df_sem_idanimal_genealogia

In [ ]:
df_genealogia_embrapa

In [ ]:
#1376776
df_verificando_animais_com_id_na_genealogia_embrapa[df_verificando_animais_com_id_na_genealogia_embrapa['RGVACA'] == 'MBL18']

Ano nascimento tabela genealogia
acrescentar os 14 na lista dos que ja possuem id produto (teste)