Funcoes utilizadas
Criar uma lista de comprimentos de strings em cada célula da coluna especificada
comprimentos = [len(str(celula)) for celula in df.iloc[: ,4]]
Encontrar o índice da célula com o maior número de caracteres
indice_maior = comprimentos.index(max(comprimentos))
Extrair a célula com o maior número de caracteres
celula_maior = df.iloc[indice_maior][4] df.iloc[: , 4][indice_maior] df.iloc[: , 4].value_counts() celula_maior df.iloc[:,0]
index = df.columns.get_loc(‘abcz’)
index df

IDANIMAL = CHAVE UNICA
MP = CHAVE UNICA -  Mes parto
AP = CHAVE UNICA - -Ano parto

LTOT = lactacao total
L365 = lactacao em ate 365 dias
L305 = lactacao em ate 305 dias
DE = Data de Secagem
ME = Mes de secagem
AE = ANO de Secagem
caso o LTOT, L365 e L305, DE, ME e AE sejam iguais ao arquivo old, pode ser descartado

In [1]:
import pandas as pd

In [2]:
pedigree = pd.read_csv("pedrigree - Girolando - 17-02-2023.txt", encoding='ISO-8859-1')
dados_2023 = pd.read_csv("PNMGL - Dados girolando - 17-02-23.txt", encoding='ISO-8859-1')
dados_2022 = pd.read_csv("PNMGL - Dados_old - 17-02-2023.txt", encoding='ISO-8859-1')

In [3]:
#pedigree

In [4]:
#dados_2023

#LTOT =

In [5]:
#dados_2022

In [6]:
#dados_2023

## Criando um dataframe que é a junção dos dois dataframes, pelas celulas que possuem os mesmos valores nas colunas IDANIMAL, AP, MP, L305, LTOT, L365, ME e AE.

In [7]:
df_dados_repetidos_entre_2022_2023 = pd.merge(dados_2023, dados_2022, on=['IDANIMAL', 'AP', 'MP','L305', 'LTOT', 'L365', 'ME', 'AE', 'CAUSA'],suffixes=('', '_drop'))
df_dados_repetidos_entre_2022_2023 = df_dados_repetidos_entre_2022_2023.drop(df_dados_repetidos_entre_2022_2023.filter(regex='_drop$').columns, axis=1)
df_dados_repetidos_entre_2022_2023 = df_dados_repetidos_entre_2022_2023.drop_duplicates()




## Pegando somente os dados que estão no dataframe dados_2023

In [8]:
# faz o merge entre os dois dataframes, o dados com os dados repetidos
df_merge = pd.merge(dados_2023, df_dados_repetidos_entre_2022_2023, how='left', indicator=True, suffixes=('', '_drop'))

# filtra somente as linhas que estão no dataframe da esquerda
df_dados_novos_2023 = df_merge[df_merge['_merge'] == 'left_only']

# remove a coluna "_merge"
df_dados_novos_2023.drop('_merge', axis=1, inplace=True)

df_dados_novos_2023 = df_dados_novos_2023.drop(df_merge.filter(regex='_drop$').columns, axis=1)
df_dados_novos_2023 = df_dados_novos_2023.drop_duplicates()
df_dados_novos_2023

/var/folders/qy/dy55ydmj485_n1ncrjtk1hgr0000gp/T/ipykernel_496/1727689658.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dados_novos_2023.drop('_merge', axis=1, inplace=True)

## Calculando a diferenca entre as datas

In [10]:

mesclado = pd.merge(df_dados_novos_2023, dados_2022, on=['IDANIMAL'], suffixes=('', '_drop'))
mesclado = mesclado.drop_duplicates()
#mesclado = mesclado.drop(mesclado.filter(regex='_drop$').columns, axis=1)
mesclado[['parto', 'parto_drop']] = mesclado[['parto', 'parto_drop']].astype(str)
mesclado[['parto', 'parto_drop']] = mesclado[['parto', 'parto_drop']].apply(pd.to_datetime)
mesclado['diferenca_em_dias'] = (mesclado['parto'] - mesclado['parto_drop']).dt.days
mesclado[['parto', 'parto_drop', 'diferenca_em_dias']]

         parto parto_drop  diferenca_em_dias
0   2021-11-23 2020-01-09                684
1   2020-10-09 2019-01-31                617
2   2021-03-15 2020-01-24                416
3   2021-03-15 2018-02-01               1138
4   2021-06-28 2020-07-22                341
..         ...        ...                ...
682 2021-03-23 2017-11-17               1222
683 2021-03-23 2020-03-10                378
684 2021-01-25 2019-05-03                633
685 2021-04-22 2020-05-13                344
686 2021-08-01 2020-01-05                574

[687 rows x 3 columns]

## Animais que ja possuiam IDANIMAL existentes

In [11]:
df_animais_com_ID = pd.merge(df_dados_novos_2023, dados_2022, on =['IDANIMAL'], suffixes=('', '_drop'))
df_animais_com_ID = df_animais_com_ID.drop(df_animais_com_ID.filter(regex='_drop$').columns, axis=1)
df_animais_com_ID = df_animais_com_ID.drop_duplicates()
df_animais_com_ID

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,nasc,parto,secagem,anopc,anop_menos1c,rebc,rac,nordc,rebanoe,ordem
0,6029,DEMASIA FR RECREIO,14,0869-T,JAGUAR TE DO GAVIAO,11,GAV291,ERMELINDA MERGULHAO,12,AD-1407,...,2013-04-18,2021-11-23,2022-07-30,2021,2020,6029,2,2,60292021122,NaN
1,7450,JACA JAYZ SJ LALU,34,6411-AH,HORNLAND JAYZ-ET,10,AX118150,GAYA FIV SANSAO SJ LALU,12,1898-P,...,2014-07-12,2020-10-09,2022-02-18,2020,2019,7450,3,2,74502020132,NaN
2,3304,CAITA OCIDENTE MJP DA CAPELA P,12,8634-X,OCIDENTE BEM FEITOR CAL,11,CAL4605,MARINA DA CAPELA PAIVA,10,A-3096,...,2012-07-20,2021-03-15,2022-01-13,2021,2020,3304,2,2,33042020122,NaN
4,5569,LONDRINA GENGIS KHAN RECANTO D,12,0021-AW,GENGIS KHAN DE BRASILIA,11,RRP6097,MEARA JUDITH GOLDWYN BELLA-TE,10,BX410396,...,2017-09-25,2021-06-28,2022-02-10,2021,2020,5569,2,2,55692021222,NaN
5,5569,BABALU METEORO DO MORRO,38,0148-AK,METEORO DE BRASILIA,11,B5226,SEGUNDA DO MORRO,34,7468-T,...,2015-06-12,2021-09-13,2022-02-10,2021,2020,5569,2,2,55692021222,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,1129,MORADIA ANGICO,7,9556-F,VALE OURO DE BRASILIA,11,A6796,CABANA ANGICO,78,1606,...,2010-02-19,2021-05-23,2022-10-01,2021,2020,1129,2,2,11292021222,NaN
681,2381,CLASSICA OCIDENTE JM NOVO HORI,14,5193-AE,OCIDENTE BEM FEITOR CAL,11,CAL4605,CINDERELA MODELO JM NOVO HORIZ,12,AF-2652,...,2014-06-09,2021-03-23,2022-01-24,2021,2020,2381,2,2,23812020122,NaN
684,5569,GABI FIV VALE OURO EVD,14,4417-AT,VALE OURO TE SILVANIA,11,EFC464,LAMBADA DRAMATIC SANTA LUZIA,12,AG-0944,...,2016-04-23,2021-01-25,2021-09-13,2021,2020,5569,2,2,55692020122,NaN
685,6029,DUNCAN FR RECREIO,14,0928-T,JAGUAR TE DO GAVIAO,11,GAV291,NILOPOLIS FR RECREIO,12,AB-0524,...,2013-04-18,2021-04-22,2022-03-04,2021,2020,6029,2,2,60292021222,NaN
686,83436,LINDA SJ LALU,34,2734-BK,0,0,0,0,0,0,...,2017-02-04,2021-08-01,2022-04-22,2021,2020,83436,3,2,834362021232,NaN

## Animais que nao possuiam IDANIMAL na dados_2022, somente na dados_2023

In [12]:
merged_df = pd.merge(df_dados_novos_2023, dados_2022, on='IDANIMAL', how='left', indicator=True)
df_animais_sem_id = merged_df[merged_df['_merge'] == 'left_only'].drop(columns='_merge')
df_animais_sem_id

,reb_giro_x,nomea_x,COMPRAC_x,RGVACA_x,nomep_x,GSPAI_x,RGPAI_x,nomem_x,GSMAE_x,RGMAE_x,...,QTD_ORDENHAS_y,nasc_y,parto_y,secagem_y,anopc_y,anop_menos1c_y,rebc_y,rac_y,nordc_y,rebanoe_y
0,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1298,1945,JPZ QUIRERA SHAMROCK ASTER FIV,12,4032-Z,LADYS-MANOR PL SHAMROCK-ET,10,AX135714,JPZ ASTER FIV,11,JPZ64,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1299,2381,DALIA I FIV BRADLEY JM NOVO HO,12,4906-AZ,ROCKALLI BRADLEY,10,AX117720,DALIA NOVO HORIZONTE,11,JMCH76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1305,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1306,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1307,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#dados_2022[dados_2022['IDANIMAL'] == 1631099]

## conectando no banco de dados

In [14]:
import mysql.connector

mydb = mysql.connector.connect(
  host="127.0.0.1",
  user="root",
  password="4d5f0l9k",
  database="bioinformatica_new"
)

## Retornando a consulta do banco para um dataframe

In [15]:

sql = "SELECT * FROM genealogia_embrapa"

df_genealogia_embrapa = pd.read_sql(sql, mydb)
df_genealogia_embrapa=df_genealogia_embrapa.rename(columns={'idanimal': 'IDANIMAL'})

/var/folders/qy/dy55ydmj485_n1ncrjtk1hgr0000gp/T/ipykernel_496/2476982863.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_genealogia_embrapa = pd.read_sql(sql, mydb)

# Juntando o dataframe da genealogia embrapa com o dataframe df_animais_com_ID

In [16]:
df_genealogia_embrapa['IDANIMAL'] = df_genealogia_embrapa['IDANIMAL'].astype('int')
df_verificando_animais_com_id_na_genealogia_embrapa = pd.merge(df_animais_com_ID, df_genealogia_embrapa[['IDANIMAL', 'id_produto']], on='IDANIMAL', how='left', indicator=True)

# Retira os itens duplicados, isso ocorre pois pode haver alteracao em algum dos campos do df_genealogia_embrapa

In [23]:
df_verificando_animais_com_id_na_genealogia_embrapa = df_verificando_animais_com_id_na_genealogia_embrapa.drop_duplicates()
df_verificando_animais_com_id_na_genealogia_embrapa = df_verificando_animais_com_id_na_genealogia_embrapa.drop(columns='_merge')
df_verificando_animais_com_id_na_genealogia_embrapa

KeyError: "['_merge'] not found in axis"

## Lista de animais sem ID no banco de dados

In [18]:
tt = pd.merge(df_animais_com_ID,df_verificando_animais_com_id_na_genealogia_embrapa, on=['IDANIMAL'], how='left', indicator=True, suffixes=('', '_drop'))
animais_sem_id_2022 = tt[merged_df['_merge'] == 'left_only'].drop(columns='_merge')
animais_sem_id_2022 = animais_sem_id_2022.drop(animais_sem_id_2022.filter(regex='_drop$').columns, axis=1)
animais_sem_id_2022 = animais_sem_id_2022.drop_duplicates()
animais_sem_id_2022

/var/folders/qy/dy55ydmj485_n1ncrjtk1hgr0000gp/T/ipykernel_496/4294006464.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  animais_sem_id_2022 = tt[merged_df['_merge'] == 'left_only'].drop(columns='_merge')

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,parto,secagem,anopc,anop_menos1c,rebc,rac,nordc,rebanoe,ordem,id_produto
0,6029,DEMASIA FR RECREIO,14,0869-T,JAGUAR TE DO GAVIAO,11,GAV291,ERMELINDA MERGULHAO,12,AD-1407,...,2021-11-23,2022-07-30,2021,2020,6029,2,2,60292021122,NaN,GIRO1383626
1,7450,JACA JAYZ SJ LALU,34,6411-AH,HORNLAND JAYZ-ET,10,AX118150,GAYA FIV SANSAO SJ LALU,12,1898-P,...,2020-10-09,2022-02-18,2020,2019,7450,3,2,74502020132,NaN,GIRO1608903
2,3304,CAITA OCIDENTE MJP DA CAPELA P,12,8634-X,OCIDENTE BEM FEITOR CAL,11,CAL4605,MARINA DA CAPELA PAIVA,10,A-3096,...,2021-03-15,2022-01-13,2021,2020,3304,2,2,33042020122,NaN,GIRO1215331
3,5569,LONDRINA GENGIS KHAN RECANTO D,12,0021-AW,GENGIS KHAN DE BRASILIA,11,RRP6097,MEARA JUDITH GOLDWYN BELLA-TE,10,BX410396,...,2021-06-28,2022-02-10,2021,2020,5569,2,2,55692021222,NaN,GIRO2022656
4,5569,BABALU METEORO DO MORRO,38,0148-AK,METEORO DE BRASILIA,11,B5226,SEGUNDA DO MORRO,34,7468-T,...,2021-09-13,2022-02-10,2021,2020,5569,2,2,55692021222,NaN,GIRO1653303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,2384,PANTERA 437 JAGUAR FIV JM MONT,14,0348-X,JAGUAR TE DO GAVIAO,11,GAV291,DESTRUIDORA JM MONTE ALVERNE,12,AE-9119,...,2021-05-01,2022-02-10,2021,2020,2384,2,2,23842021222,NaN,GIRO1384770
454,5569,CAMPISTA MAJOR DO MORRO,14,3881-AT,MAJOR TE DOS POCOES,11,APPG801,SUELLEN II DO MORRO,12,2777-K,...,2021-04-09,2021-09-16,2021,2020,5569,2,2,55692021222,NaN,GIRO1797876
455,1129,MORADIA ANGICO,7,9556-F,VALE OURO DE BRASILIA,11,A6796,CABANA ANGICO,78,1606,...,2021-05-23,2022-10-01,2021,2020,1129,2,2,11292021222,NaN,GIRO1066128
456,2381,CLASSICA OCIDENTE JM NOVO HORI,14,5193-AE,OCIDENTE BEM FEITOR CAL,11,CAL4605,CINDERELA MODELO JM NOVO HORIZ,12,AF-2652,...,2021-03-23,2022-01-24,2021,2020,2381,2,2,23812020122,NaN,GIRO1571455
457,5569,GABI FIV VALE OURO EVD,14,4417-AT,VALE OURO TE SILVANIA,11,EFC464,LAMBADA DRAMATIC SANTA LUZIA,12,AG-0944,...,2021-01-25,2021-09-13,2021,2020,5569,2,2,55692020122,NaN,GIRO1797713

## Adicionando coluna IDPRODUTO no dataframe de dados repetidos

In [20]:
df_verificando_animais_com_id_na_genealogia_embrapa['id_produto'] = df_verificando_animais_com_id_na_genealogia_embrapa['id_produto'].fillna(df_genealogia_embrapa['id_produto'])

In [21]:
df_verificando_animais_com_id_na_genealogia_embrapa

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,parto,secagem,anopc,anop_menos1c,rebc,rac,nordc,rebanoe,ordem,id_produto
0,6029,DEMASIA FR RECREIO,14,0869-T,JAGUAR TE DO GAVIAO,11,GAV291,ERMELINDA MERGULHAO,12,AD-1407,...,2021-11-23,2022-07-30,2021,2020,6029,2,2,60292021122,NaN,GIRO1383626
1,7450,JACA JAYZ SJ LALU,34,6411-AH,HORNLAND JAYZ-ET,10,AX118150,GAYA FIV SANSAO SJ LALU,12,1898-P,...,2020-10-09,2022-02-18,2020,2019,7450,3,2,74502020132,NaN,GIRO1608903
2,3304,CAITA OCIDENTE MJP DA CAPELA P,12,8634-X,OCIDENTE BEM FEITOR CAL,11,CAL4605,MARINA DA CAPELA PAIVA,10,A-3096,...,2021-03-15,2022-01-13,2021,2020,3304,2,2,33042020122,NaN,GIRO1215331
3,5569,LONDRINA GENGIS KHAN RECANTO D,12,0021-AW,GENGIS KHAN DE BRASILIA,11,RRP6097,MEARA JUDITH GOLDWYN BELLA-TE,10,BX410396,...,2021-06-28,2022-02-10,2021,2020,5569,2,2,55692021222,NaN,GIRO2022656
4,5569,BABALU METEORO DO MORRO,38,0148-AK,METEORO DE BRASILIA,11,B5226,SEGUNDA DO MORRO,34,7468-T,...,2021-09-13,2022-02-10,2021,2020,5569,2,2,55692021222,NaN,GIRO1653303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,1129,MORADIA ANGICO,7,9556-F,VALE OURO DE BRASILIA,11,A6796,CABANA ANGICO,78,1606,...,2021-05-23,2022-10-01,2021,2020,1129,2,2,11292021222,NaN,GIRO1066128
416,2381,CLASSICA OCIDENTE JM NOVO HORI,14,5193-AE,OCIDENTE BEM FEITOR CAL,11,CAL4605,CINDERELA MODELO JM NOVO HORIZ,12,AF-2652,...,2021-03-23,2022-01-24,2021,2020,2381,2,2,23812020122,NaN,GIRO1571455
417,5569,GABI FIV VALE OURO EVD,14,4417-AT,VALE OURO TE SILVANIA,11,EFC464,LAMBADA DRAMATIC SANTA LUZIA,12,AG-0944,...,2021-01-25,2021-09-13,2021,2020,5569,2,2,55692020122,NaN,GIRO1797713
418,6029,DUNCAN FR RECREIO,14,0928-T,JAGUAR TE DO GAVIAO,11,GAV291,NILOPOLIS FR RECREIO,12,AB-0524,...,2021-04-22,2022-03-04,2021,2020,6029,2,2,60292021222,NaN,GIRO1383629
419,83436,LINDA SJ LALU,34,2734-BK,0,0,0,0,0,0,...,2021-08-01,2022-04-22,2021,2020,83436,3,2,834362021232,NaN,GIRO2900035

In [22]:
#1376776
#df_verificando_animais_com_id_na_genealogia_embrapa[df_verificando_animais_com_id_na_genealogia_embrapa['IDANIMAL'] == 1376776]