Funcoes utilizadas
Criar uma lista de comprimentos de strings em cada célula da coluna especificada
comprimentos = [len(str(celula)) for celula in df.iloc[: ,4]]
Encontrar o índice da célula com o maior número de caracteres
indice_maior = comprimentos.index(max(comprimentos))
Extrair a célula com o maior número de caracteres
celula_maior = df.iloc[indice_maior][4] df.iloc[: , 4][indice_maior] df.iloc[: , 4].value_counts() celula_maior df.iloc[:,0]
index = df.columns.get_loc(‘abcz’)
index df

In [1]:
import pandas as pd

In [7]:
pedigree = pd.read_csv("pedrigree - Girolando - 17-02-2023.txt", encoding='ISO-8859-1')
dados = pd.read_csv("PNMGL - Dados girolando - 17-02-23.txt", encoding='ISO-8859-1')
dados_old = pd.read_csv("PNMGL - Dados_old - 17-02-2023.txt", encoding='ISO-8859-1')

In [8]:
pedigree

,NOMEVACA,RGVACA,COMPRAC,IDANIMAL,DNASC,SEXO,NOMEPAI,RGPAI,GSPAI,IDPAI,NOMEMAE,RGMAE,GSMAE,IDMAE,gs,cgen_a,comb
1,NaN,RF-0618,11,616612.0,0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,GIR,11
2,NaN,RF-1285,11,616611.0,0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,GIR,11
3,4527 DE IRAI,AJ-4527,34,766580.0,20/01/2006,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,3/4HOL 1/4GIR,795
4,4530 DE IRAI,AJ-4530,34,766583.0,03/11/2004,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,3/4HOL 1/4GIR,795
5,C551 OSKA,7932-BV,12,3410926.0,08/11/2020,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1/2HOL 1/2GIR,519
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2276760,ZUZU ZU,0050,34,672063.0,29/03/2001,F,MIKLIN GALAXY-ET,AX102336,10.0,4653.0,AMORA Z.U.,M-8808,12.0,155290.0,6,3/4HOL 1/4GIR,795
2276761,ZUZUCA FABIANO,L-5947,34,335253.0,04/05/1995,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,3/4HOL 1/4GIR,795
2276762,ZUZUCA FIV KENYO,0202-BI,12,2358145.0,18/02/2019,F,BACON-HILL MONTROSS-ET,AX145128,10.0,1603021.0,KATARINA FIV KENYO,KOK690,11.0,1995568.0,4,1/2HOL 1/2GIR,519
2276763,ZYCH FABIANA 18,BR1235804,10,3114806.0,0,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,HOL,999
2276764,ZYCH PRIMA 893,BR1537015,10,1127477.0,25/02/2009,F,DELTA LIONEL,AX117628,10.0,709946.0,ZYCH PRIMA 80,BR1369376,10.0,1318919.0,8,HOL,999

In [9]:
dados

#LTOT =

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,QTD_ORDENHAS,nasc,parto,secagem,anopc,anop_menos1c,rebc,rac,nordc,rebanoe
139,3093,ALTEROSA SM FIV MITU,12,9827-A,MORNINGVIEW MISCHIEF-ET,10,AX125529,CAIANA FIV KENYO,11,KOK31,...,2,2009-07-13,2019-03-15,2020-06-22,2019,2018,3093,2,2,30932018122
162,9257,ESCOCIA FIV GABINETE DO R.DA P,12,8494-BA,GABINETE SILVANIA,11,EFC946,BRAUNAS SPIRTE ROSE KATRINA-TE,10,BX381125,...,2,2017-07-05,2019-12-20,2020-11-26,2019,2018,9257,2,2,92572019122
221,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,2,2015-03-11,2020-01-13,2021-11-11,2020,2019,7461,2,2,74612019122
222,5569,FLORA TEATRO DO SEGREDO VELHO,14,6986-J,TEATRO DA SILVANIA,11,EFC383,LUA DO SEGREDO VELHO,12,Y-5738,...,2,2012-07-20,2020-02-01,2020-06-12,2020,2019,5569,2,2,55692019122
250,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,2,2014-12-22,2022-02-08,2022-10-15,2022,2021,10639,2,2,106392021122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391297,1129,BATALHA UFP ANGICO II,38,D-0636,DESEJO TE DA SILVANIA,11,EFC645,MIUDA ANGICO II,34,AJ-7860,...,2,2008-08-25,2019-07-25,2020-04-01,2019,2018,1129,2,2,11292019222
391442,11844,MONTANA 1238 TEATRO FIV JM MON,12,6848-AY,TEATRO DA SILVANIA,11,EFC383,547 JM MONTE ALVERNE,10,C-0434,...,2,2016-07-14,2019-03-04,2019-06-15,2019,2018,11844,2,2,118442018122
391489,6915,RAIZ FIV DAS ARABIAS II,14,3835-AD,C.A.SANSAO,11,KCA472,PALAFITA DAS ARABIAS,12,AD-0906,...,2,2011-10-29,2020-08-14,2020-10-31,2020,2019,6915,2,2,69152020222
391670,7461,NINA IMPERADOR BAXTER RF SAO F,5858,6352-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JORDANA MORRELL RF SAO FRANCIS,58,6872-N,...,2,2015-02-23,2019-03-16,2019-12-12,2019,2018,7461,2,2,74612018122
391749,83436,LINDA SJ LALU,34,2734-BK,0,0,0,0,0,0,...,2,2017-02-04,2021-08-01,2022-04-22,2021,2020,83436,3,2,834362021232

IDANIMAL = CHAVE UNICA
MP = CHAVE UNICA -  Mes parto
AP = CHAVE UNICA - -Ano parto

LTOT = lactacao total
L365 = lactacao em ate 365 dias
L305 = lactacao em ate 305 dias
DE = Data de Secagem
ME = Mes de secagem
AE = ANO de Secagem
caso o LTOT, L365 e L305, DE, ME e AE sejam iguais ao arquivo old, pode ser descartado

In [43]:
dados_old

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,QTD_ORDENHAS,nasc,parto,secagem,anopc,anop_menos1c,rebc,rac,nordc,rebanoe
0,2381,TULIPA MODELO JM NOVO HORIZONT,14,3670-U,MODELO TE DE BRASILIA,11,B5213,FABULA SEGREDO JM NOVO HORIZON,12,AG-6345,...,2,2011-07-13,2018-04-26,2018-11-23,2018,2017,2381,2,2,23812018222
1,3093,ALTEROSA SM FIV MITU,12,9827-A,MORNINGVIEW MISCHIEF-ET,10,AX125529,CAIANA FIV KENYO,11,KOK31,...,2,2009-07-13,2019-03-15,2020-06-22,2019,2018,3093,2,2,30932018122
2,2384,RODOVIA 6013 FAMOSO JM MONTE A,38,1094-T,FAMOSO TE SILVANIA,11,EFC779,ATICA PARAMOUNT FIV JM MONTE A,34,0986-T,...,2,2013-03-18,2019-03-26,2020-01-10,2019,2018,2384,2,2,23842018122
3,7453,ARAPONGA 803 FA DA SERRA,34,8590-AB,PALMCREST MONUMENT-ET,10,AX127702,ADRIANA FA DA SERRA,12,AE-9680,...,2,2013-10-21,2017-10-01,2018-12-20,2017,2016,7453,2,2,74532017122
4,5569,FLORA TEATRO DO SEGREDO VELHO,14,6986-J,TEATRO DA SILVANIA,11,EFC383,LUA DO SEGREDO VELHO,12,Y-5738,...,2,2012-07-20,2020-02-01,2020-06-12,2020,2019,5569,2,2,55692019122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5205,9734,TIEMI CONDESSA ELUDE FIV,12,1186-AR,SILVERRIDGE V ELUDE,10,AX145140,COLONIA TE AG,11,AGPP193,...,2,2016-07-10,2020-08-21,2020-12-29,2020,2019,9734,2,2,97342020222
5206,9257,GUISA FIV MCCUTCHEN FBE,12,8181-AS,DE-SU BKM MCCUTCHEN 1174-ET,10,AX140261,MADAME ISIS 2B,11,ZAB325,...,2,2016-08-22,2020-05-25,2021-02-24,2020,2019,9257,3,2,92572020232
5207,9692,DAGUA MOGUL FIV MOURA LEITE,34,4050-AV,MOUNTFIELD SSI DCY MOGUL-ET,10,AX138953,QUITANDA FIV PLANET VR,12,7174-I,...,2,2017-06-22,2020-12-20,2021-12-05,2020,2019,9692,2,2,96922020122
5208,5192,KARINA FIV BEEMER 2244 RS DO R,34,5851-AX,POL BUTTE MC BEEMER-ET,10,AX145127,ENGENHO DA RAINHA BIANCA,12,AD-1410,...,3,2018-02-04,2020-04-01,2020-08-06,2020,2019,5192,3,3,51922020233
5209,11219,6188 FQ,34,6188-AX,0,0,0,0,0,0,...,2,2016-04-16,2018-12-23,2019-12-20,2018,2017,11219,2,2,112192018122

Criando um dataframe que é a junção dos dois dataframes, pelas celulas que possuem os mesmos valores nas colunas IDANIMAL, AP, MP, L305, LTOT, L365, ME e AE.

In [47]:
# junção dos dataframes utilizando as colunas L305, LTOT, L365, ME e AE como chave
df_unificado = pd.merge(dados, dados_old, on=['IDANIMAL', 'AP', 'MP','L305', 'LTOT', 'L365', 'ME', 'AE', 'CAUSA'])

,reb_giro_x,nomea_x,COMPRAC_x,RGVACA_x,nomep_x,GSPAI_x,RGPAI_x,nomem_x,GSMAE_x,RGMAE_x,...,QTD_ORDENHAS_y,nasc_y,parto_y,secagem_y,anopc_y,anop_menos1c_y,rebc_y,rac_y,nordc_y,rebanoe_y
0,3093,ALTEROSA SM FIV MITU,12,9827-A,MORNINGVIEW MISCHIEF-ET,10,AX125529,CAIANA FIV KENYO,11,KOK31,...,2,2009-07-13,2019-03-15,2020-06-22,2019,2018,3093,2,2,30932018122
1,9257,ESCOCIA FIV GABINETE DO R.DA P,12,8494-BA,GABINETE SILVANIA,11,EFC946,BRAUNAS SPIRTE ROSE KATRINA-TE,10,BX381125,...,2,2017-07-05,2019-12-20,2020-11-26,2019,2018,9257,2,2,92572019122
2,5569,FLORA TEATRO DO SEGREDO VELHO,14,6986-J,TEATRO DA SILVANIA,11,EFC383,LUA DO SEGREDO VELHO,12,Y-5738,...,2,2012-07-20,2020-02-01,2020-06-12,2020,2019,5569,2,2,55692019122
3,7789,CABALA BRIAR 613 FUNCHAL,12,8178-AD,OLSZEWSKI ALTABRIAR,10,AX137375,1760 FUNCHAL CURVELO,11,B-1760,...,2,2014-10-26,2018-11-23,2019-03-26,2018,2017,7789,2,2,77892018122
4,8821,9057 WACLAW VALE OURO SILVANIA,12,4230-AI,VALE OURO TE SILVANIA,11,EFC464,AGRINDUS 3432 JUNEAU,10,BX412129,...,3,2015-08-10,2018-10-20,2019-08-10,2018,2017,8821,2,3,88212018123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2828,6329,LARANJA SHOTTLE STT,12,2447-AX,MENGE SHOTTLE X-630-TE,10,AX132404,BIRIBA TE ZBR,11,ZBR24,...,2,2017-08-22,2020-08-14,2021-04-21,2020,2019,6329,2,2,63292020222
2829,1129,BATALHA UFP ANGICO II,38,D-0636,DESEJO TE DA SILVANIA,11,EFC645,MIUDA ANGICO II,34,AJ-7860,...,2,2008-08-25,2019-07-25,2020-04-01,2019,2018,1129,2,2,11292019222
2830,11844,MONTANA 1238 TEATRO FIV JM MON,12,6848-AY,TEATRO DA SILVANIA,11,EFC383,547 JM MONTE ALVERNE,10,C-0434,...,2,2016-07-14,2019-03-04,2019-06-15,2019,2018,11844,2,2,118442018122
2831,6915,RAIZ FIV DAS ARABIAS II,14,3835-AD,C.A.SANSAO,11,KCA472,PALAFITA DAS ARABIAS,12,AD-0906,...,2,2011-10-29,2020-08-14,2020-10-31,2020,2019,6915,2,2,69152020222
2832,7461,NINA IMPERADOR BAXTER RF SAO F,5858,6352-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JORDANA MORRELL RF SAO FRANCIS,58,6872-N,...,2,2015-02-23,2019-03-16,2019-12-12,2019,2018,7461,2,2,74612018122

Pegando somente os dados que existem no dataframe dados, ou seja, que possuem uma das colunas acima diferentes do dados_old

In [49]:
# faz o merge entre os dois dataframes, o dados com os dados repetidos
df_merge = pd.merge(dados, df_unificado, how='left', indicator=True)

# filtra somente as linhas que estão no dataframe da esquerda
df_result = df_merge[df_merge['_merge'] == 'left_only']

# remove a coluna "_merge"
df_result.drop('_merge', axis=1, inplace=True)
df_result

/var/folders/qy/dy55ydmj485_n1ncrjtk1hgr0000gp/T/ipykernel_2145/3868247210.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result.drop('_merge', axis=1, inplace=True)

,reb_giro,nomea,COMPRAC,RGVACA,nomep,GSPAI,RGPAI,nomem,GSMAE,RGMAE,...,QTD_ORDENHAS_y,nasc_y,parto_y,secagem_y,anopc_y,anop_menos1c_y,rebc_y,rac_y,nordc_y,rebanoe_y
2,7461,NANA IMPERADOR BAXTER RF SAO F,5858,6353-AH,IMPERADOR BAXTER VOLTA FRIA,58,1459,JURITI HERBY RF SAO FRANCISCO,58,6877-N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10639,LANAA FIV AFTERSHOCK BON.BELEM,12,9592-AG,MS ATLEES SHT AFTERSHOCK - ET,10,AX129928,JOANE FIV KUBERA,11,ACFG1840,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6039,EDILAINE IMPERIO FIV 4303 JARD,12,AADA0352,IMPERIO TE STA EDWIGES,11,RIG163,SERTEC QATAR FABIANA PROGRESS,10,HBB/B-291392,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1945,ARMA MERIDIAN DA MBL,12,1025-AN,SULLY HART MERIDIAN-ET,10,AX138576,FAMA,11,JNR167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,73119,CELESTE 136 TEATRO FIV COOPERR,12,1239-BF,TEATRO DA SILVANIA,11,EFC383,LAGOS ASTRE QUIMICA 795 TE,10,BX335536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3843,6029,DUNCAN FR RECREIO,14,0928-T,JAGUAR TE DO GAVIAO,11,GAV291,NILOPOLIS FR RECREIO,12,AB-0524,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3851,132,QUINTA I COLE AGM TRIUNFO,34,9243-AG,CO-OP TOYSTORY COLE-ET,10,AX129567,QUINTA FIV M,12,0473-O,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3853,6915,LIA DAS ARABIAS,5858,6125-BR,TURBO DAS ARABIAS,5858,0079,LILIKA DAS ARABIAS,58,4916-AW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3864,6029,GERMANA FEBO FR RECREIO,5858,9069-AS,FEBO FR RECREIO,58,6300-N,CAMPANHA FR RECREIO,58,6180-N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3871,83436,LINDA SJ LALU,34,2734-BK,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

ID ANIMAL
AP
MP

TEM ALTERACAO MAS JA EXISTIAM ( teve alteracao em alguma celula)

PARTOS NOVOS (nao pode estar no dados old)

Dataframe com as vacas que tiveram alteracao